[2016-07-31 08:43] NguyenDanPhuong opened #1 "Improve logging"

[2016-07-31 13:18] NguyenDanPhuong commented on #1
Implemented using NLog

[2016-07-31 13:18] #1 closed

[2016-08-01 02:15] NguyenDanPhuong opened #2 "Unit test for MangaFox failed on Appveyor CI"

[2016-08-01 02:43] #2 closed

[2016-08-01 02:54] NguyenDanPhuong opened #3 "New icon!"
Need a new icon.

[2016-08-01 02:56] NguyenDanPhuong opened #4 "Wrong chapters listing in MangaReader.net"
- Remove duplicate chapters latest section.
- Sort chapters by descending.

[2016-08-01 03:31] NguyenDanPhuong opened #5 "Chapter name is empty in MangaHere.co"

[2016-08-01 03:52] #4 closed

[2016-08-01 03:52] #5 closed

[2016-08-02 08:07] NguyenDanPhuong opened #6 "Notify when there's a new version avaiable"
Request https://api.github.com/repos/NguyenDanPhuong/MangaRipper/releases and compare with current version
Showing change logs.

[2016-08-02 10:27] NguyenDanPhuong opened #7 "More detailed unit test"
Current unit tests verify that manga services can find chapters and images. They need verify the content of chapters and images are corrected too.

[2016-08-07 15:20] #7 closed

[2016-09-04 02:53] iYatsumi opened #8 "MangaFox"
it's not letting download from Mangafox.me , download basically stops at 50% and gives me the error 403 forbidden, i would use the other sites but the manga i wanted isn't listed there

[2016-09-05 02:56] NguyenDanPhuong commented on #8
Thank for reporting. Can you let me know the manga that cause issue?

[2016-09-06 02:37] iYatsumi commented on #8
it was the Days Manga
Publisher: Kodansha

but i have also noticed that any other manga that i try from Mangafox isn't working while the other sites works fine in comparison.

[2016-09-07 04:06] #8 closed

[2016-09-07 04:18] NguyenDanPhuong commented on #8
This issue is fixed!

[2016-09-08 01:25] iYatsumi commented on #8
Hi,
thank you for responding so quickly but could you please give me instructions on what i should do with that code because im still pretty new to programming, i have Unreal X-Editor in hands.

[2016-09-08 04:37] NguyenDanPhuong commented on #8
You just need to download latest release and run. https://github.com/NguyenDanPhuong/MangaRipper/releases

[2016-09-10 04:59] iYatsumi commented on #8
thank for providing the assistance in such short notice, i'm happy to confirm that the resolution worked.

[2016-10-13 02:29] NguyenDanPhuong opened #9 "Support kissmanga as requested by user"
As title...

[2016-10-13 02:30] NguyenDanPhuong opened #10 "Allow download multi chapters at once."
Requested by user

[2016-10-16 10:14] NguyenDanPhuong commented on #9
KissManga blocks access from non-browser client by using JavaScript and Cookie. This is intended by KissManga so support for this site is postpone.

[2016-11-19 01:45] diras2010 opened #11 "Allow integrated compression of downloaded chapters"
MangaCrawler's style of download the chapters, sort them numerically or by index , and then compress them in cbz format woudl be awesome, if my memory doesn't fail me, the source code (of MangaCrawler) is on GitHub as well

[2016-11-24 23:48] iYatsumi opened #12 "Enhancement Request"
i was wondering if it was possible or maybe in the future to include more or simply have the option to add another supported site to the app like Kissmanga.com

[2016-11-26 06:34] NguyenDanPhuong commented on #11
Nice idea. I will take a look at this.

[2016-11-26 06:37] NguyenDanPhuong commented on #12
We can support for more sites but kissmanga.com don't want other app leech theirs images. I don't like to go again theirs will. Feel free to request support for another sites if you want. :)

[2016-11-26 10:50] #9 closed

[2016-11-30 03:07] diras2010 commented on #11
i checked about the Manga Crawler repository, its stored in Codeplex

http://mangacrawler.codeplex.com/SourceControl/latest

[2016-12-05 08:01] NguyenDanPhuong commented on #11
I added the feature to download manga as CBZ. Please download latest version from https://github.com/NguyenDanPhuong/MangaRipper/releases/tag/1.0.115

[2016-12-05 08:04] #11 closed

[2016-12-06 09:15] BaganLee opened #14 "MangaFox Problem"
When i am trying to download some chapter from mangafox its create only the folder and it doesn't have any page downloaded.

[2016-12-06 09:53] NguyenDanPhuong commented on #14
Have you tried the latest version (https://github.com/NguyenDanPhuong/MangaRipper/releases/latest). I've fixed mangafox issue yesterday.

[2016-12-06 10:05] BaganLee commented on #14
Yes i downloaded it last night and  again it didn't work

[2016-12-06 10:45] NguyenDanPhuong commented on #14
MangaFox updates their website again today. Same for MangaShare. I'll fix this once I got home tonight.

[2016-12-06 11:55] BaganLee commented on #14
Ok. I would like to ask you if you could add and the mangastream site in the list if possible and keep up the good work

[2016-12-06 15:40] #14 closed

[2016-12-06 15:46] NguyenDanPhuong commented on #14
I have fixed MangaFox and MangaHere issues. :) I will take a look at MangaStream when I have time. Atm, I plan to refactor and improve source code a little bit.

[2016-12-06 17:42] BaganLee commented on #14
Ok thanks

[2016-12-08 09:24] NguyenDanPhuong commented on #14
Sorry not atm, I'm afraid. It's required to re-program using another programming stack/languages which require a lot resource.

[2016-12-08 21:03] BaganLee opened #17 "Save to problem"
Hello again i have find something with to where the folders going to save when you change the directory before you add the files you want to download from a manga the directory change but when you change it after it saves the file to the last directory you save something.

Edit: I just mention the problem i don't want you to fix atm but when you have time or when you are going to release the next

[2016-12-12 09:46] NguyenDanPhuong commented on #17
Thank you for reporting. :)

Actually this is by design. The save to folder means to set when adding chapters to download list. But there's definite a problem with the UI confusing user. I will change them.

- Move "Add Chapters" button below Save To and Save As. So user knows Save To And Save As 'used' when adding chapters.
- Add Save To column in the download list.

If you have any suggest for i

[2016-12-12 09:55] shubhranild77 opened #18 "Doesn't make use of of the available internet speed."
It always downloads only at 100k/bps max on a 8m/bps. Connection.

[2016-12-13 07:15] NguyenDanPhuong commented on #17
I've fixed this one.

[2016-12-13 07:15] #17 closed

[2016-12-14 21:50] misidp opened #20 "error when pressing "Add Prefix Counter""
![error when pressing add prefix counter](https://cloud.githubusercontent.com/assets/24575884/21202488/0e9a0a62-c281-11e6-8fef-ddd32ae63257.jpg)

i'm using windows7 32bit, net framework 4.6 and mangaripper 1.0.135
when pressing "Add Prefix Counter" i got error

Unhandled exception has accoured in your application. If you click
Continue. the application will ignore this error and attempt to continu

[2016-12-14 23:15] misidp commented on #20
version 1.0.102 the "Add Prefix Counter" works perfectly, only trouble downloading from mangafox
![ver1_0_102](https://cloud.githubusercontent.com/assets/24575884/21205239/b5af76b4-c28d-11e6-9706-bbc1d7e8dcdb.jpg)

[2016-12-15 06:46] #6 closed

[2016-12-15 06:46] #20 closed

[2016-12-15 07:25] #18 closed

[2016-12-15 07:49] NguyenDanPhuong commented on #18
Hi :). Not sure what is the problem. But I think it's usually due to the server that served manga limit bandwidth.

[2016-12-15 07:50] NguyenDanPhuong commented on #20
Thank you for your detailed issue report. I have fixed this problem and add notification when there's new version available.

[2016-12-15 13:15] misidp commented on #20
thanks a lot for the improvement Mr. NguyenDanPhuong
please keep mangaripper as simple as possible.
mangaripper is the best! simple and powerfull

[2016-12-16 18:19] amayra commented on #3
I well help you with this one

[2016-12-19 05:40] NguyenDanPhuong commented on #3
Thank you. :) I'm very appreciated. I'm looking for a clear, minimal design. Vector graphic. It's should be similar to the current icon but I'm open on any design that look good. Can you share some of your ideals?

[2016-12-20 20:42] JedBurke commented on #12
Is it because of the JavaScript check?

[2016-12-21 06:59] RudeBoyEEEE opened #22 "Can you add Bato.to?"
What the title says. I really like using Batoto, and would like to use it here.

http://bato.to/

Thanks!

[2016-12-22 09:30] NguyenDanPhuong commented on #12
Yes. They spend too much effort blocking downloader.

[2016-12-22 09:59] NguyenDanPhuong commented on #22
Sure. I will take a look at this to see if it's possible.

[2016-12-22 21:06] RudeBoyEEEE opened #24 "Can you auto-alphabetize bookmarks?"
Sorry for another issue post, but I was wondering if you could perhaps auto-alphabetize bookmarks? Maybe make a button to show them besides the toolbar at the top? Just a suggestion, this is a great program!

[2016-12-23 16:21] NguyenDanPhuong commented on #22
I've added support for this site. You can try the beta version here: https://ci.appveyor.com/project/NguyenDanPhuong/mangaripper/build/1.0.145/artifacts

You may encounter some issues though.

[2016-12-23 16:23] #12 closed

[2016-12-24 00:04] RudeBoyEEEE commented on #22
Nice! But is there any way you could make a setting to filter different languages in the site? Also, you may need to add a "Batoto Login" button, I've seen programs like **DomDomSoft Manga Downloader** do this. You should take a look at that one, it could help you improve MangaRipper if you look at how it works.

[2016-12-24 00:18] NguyenDanPhuong commented on #22
Currently I use a dummy account to access Batoto, so it can access all titles, chapters. I will make it configurable someday. However I don't want to spend time to implement UI for changing settings. I would create a JSON file to store settings and allow user to edit that file.

[2016-12-24 00:18] #22 closed

[2016-12-24 00:20] NguyenDanPhuong commented on #10
After thinking about this for awhile. User can download multi chapters at once by run multi instance of MangaRipper :))

[2016-12-24 00:20] #10 closed

[2016-12-24 00:23] NguyenDanPhuong opened #26 "Configurable settings in json file."
The settings of MangaRipper should store in a json file. User can change settings by editing this file. We will not implement changing settings in UI.

It's similar to some famous text editor (Visual Studio Code, Sublime Text Editor).

[2016-12-24 08:50] amayra commented on #26
i think [Notepad++](https://notepad-plus-plus.org/) is better choice

[2016-12-24 10:56] amayra opened #27 "site support plugins"
and there option i went to discuss with you about site support and i know this well take time
[from mymanga](https://i.imgsafe.org/e4e939be3c.jpg)
i think is better if you make MangaRipper plugins for site support for easy update without compile an entire  project think this well be more like MangaRipper SDK
@NguyenDanPhuong what do you think ?

[2016-12-24 16:56] GambitKZ commented on #26
We already have "MangaRipper.exe.config". Why do we need something else?

[2016-12-25 03:58] NguyenDanPhuong commented on #26
Recently I added support for Batoto. This site required to login to read manga. I've hard coded a dummy username and password. Let user use their own account is better.

The structure of JSON file show be like this:

{
  "Service.Batoto.Username": "abc",
  "Service.Batoto.Password": "123"
  // Other settings...
}

User can change settings by modifying JSON file. Modify . Config file is harder.

[2016-12-25 06:35] NguyenDanPhuong commented on #27
I've already have plan for this. The plugin is a good architect to keep code quality when multiple people working on MangaRipper. Stay tune. :)

[2016-12-25 06:36] NguyenDanPhuong commented on #24
Ok let me see.

[2016-12-25 07:43] codeduph opened #28 "request to add 'kissmanga'"
is it possible to add http://kissmanga.com/. I really prefer this site for a long time and its really famous site for reading manga... (also anime, drama, cartoon add to their name)

[2016-12-25 08:30] amayra commented on #28
thanks to cloudflare browser verification i don't think so
ps: i don't think this will happen soon but i love KissManga so im trying to do something about it

[2016-12-25 08:46] amayra commented on #27
thanks you and to be honest i try to do it alone in my fork but i end up rewriting MangaRipper from scratch

[2016-12-26 02:42] NguyenDanPhuong commented on #27
In the mean time. I will create a wiki page to guide how to add new site. It's pretty simple. Just basic programming knowledge and some regular expression practice.

Basically you will need:

- Create a new class implement IMangaService interface.
- Please look at MangaFoxService, MangaReaderService... to see how it's implemented.
- Register that class in Framework.Init()

[2016-12-27 14:45] codeduph commented on #28
it was supported in FMD and DomDomSoft? So, I don't think couldflare is a problem.

[2016-12-27 18:10] amayra commented on #28
nope try this app now and to fix this we need KissManga's cookies to bypass couldflare
KissManga ni my top priority list when i have free time
KissManga owner : Deal With It

[2017-01-01 11:55] GambitKZ commented on #27
@amayra @NguyenDanPhuong
Please, take a look at #29 Pull Request, and tell me what you think.

[2017-01-01 19:31] amayra commented on #27
happy new year @GambitKZ i will look into it and get back to you ASAP

[2017-01-02 09:49] NguyenDanPhuong commented on #27
Happy new year. :)

I've just comeback from vacation. Let me take a look.

[2017-01-03 04:54] NguyenDanPhuong commented on #27
Hi @GambitKZ

The test for Batoto failed. Can you help to take a look at this. Unfortunately, I have some issues and cannot work on this till the weekend.

Thanks,

[2017-01-03 10:00] GambitKZ commented on #27
Sorry, forgot to add Batoto.dll into Unit Test.

[2017-01-04 13:55] GambitKZ commented on #27
@amayra
Should we done something different here, or this implementation is good enough as is, and the issue can be closed?

[2017-01-04 23:46] amayra commented on #27
@GambitKZ i think this is perfect thank you so much

[2017-01-06 04:24] NguyenDanPhuong commented on #27
We need to make plugin depend on interfaces (of MangaRipper.Core) instead of classes (For ex: NLog classes, SiteInformation class...). However let make it a separate task and close this for now. :)

[2017-01-06 04:24] #27 closed

[2017-01-06 05:06] hoanghuy89 commented on #28
Thanks. I tried image quality comparison before and kissmanga has better quality than other site like mangafox. Mangahere is double of mangafox, nothing more.

[2017-01-06 10:09] amayra commented on #28
@hoanghuy89 kissmanga has better quality but bad Translators
There you go. Those are probably the best online sites (bato.to,mangatown.com,mangastream followed by kissmanga), and I'd avoid Mangafox, Mangahere,mangapanda....etc.

[2017-01-06 17:24] GambitKZ commented on #26
I'm returning to my previous proposal:
I can't see the point (except for "this is a trend now") of creating new config file, create "Deserialize" method, e.t.c., when we already have an "app.config" which is handled "out of the box".

[2017-01-06 18:28] amayra commented on #26
@GambitKZ  I agree with you

[2017-01-07 06:37] NguyenDanPhuong commented on #26
@GambitKZ @amayra
Xml file is impossible to read and modify by normal user. Xml is a markup language in the root and JSON is much better at presetting data.

Recently, people removing xml config in application and using JSON for that reason.

I'd like this feature implement using Microsoft.Framework.ConfigurationModel package. That way we will have a more loosely couple component.

[2017-01-10 16:51] GambitKZ commented on #26
@NguyenDanPhuong
Ok, I got your point. In this case I propose to use the following structure:
[code]
This way it will be opened for extensions.
What do you think?

[2017-01-10 21:42] JedBurke commented on #28
I experimented with adding KissManga support since I came across #12. Encountered the CloudFlare bit myself and thought I was going to have to write something to parse the 'obfuscated' JS. Luckily enough, someone else already [did](https://github.com/elcattivo/CloudFlareUtilities).

Not debating the quality of the site or whether *should* be added, the point is that it's possible. I did my [work](

[2017-01-12 04:23] NguyenDanPhuong commented on #26
@GambitKZ
I think we should create a flat level JSON structure. It's easier to read and maintain. Here's an example from another app.

[code]

I'd like to inject settings into services and doesn't let plugin access settings directly. They need access to Core project. Let me take a look at how to implement this in the weekend. :)

[2017-01-12 16:25] GambitKZ commented on #26
Ok, I will be waiting your implementation

[2017-01-18 02:03] imamabdurrosyid opened #32 "auto download bookmark"
Please add download latest chapter of bookmarked manga feature, either manual or auto. It's the most useful feature of manga downloaders nowadays, it will be really cool if MangaRipper has it too.

[2017-01-19 00:46] iYatsumi opened #33 ""MangaRipper has stopped working""
whenever i try to download any manga, i get this error the minute i click on start download.
The app was working fine a few weeks earlier, i don't if it was due to something i did on my pc or anything but i am unable to use the app to download any mangas.

[https://gyazo.com/e8b6dcdf832d7a7ca8ecd8425a820825](url)

[2017-01-19 07:52] JedBurke commented on #33
I'm not getting any errors with that series on Windows 8. Was the whitespace 'directory' between "Desktop" and "Relife" there when it last worked?

Check in "%APPDATA%\MangaRipper\Logs" for a text file with  the date when it last failed download and upload it please.

[2017-01-19 10:46] NguyenDanPhuong commented on #26
@GambitKZ I've done it. But I will need to refactor it a bit. But it works for now.

[2017-01-19 10:46] #26 closed

[2017-01-19 14:35] CarmillaVesper opened #35 "I can't open wtih winrar and 7-zip the file MangaRipper.exe"
Whenever I try to open the release 1.0.165 MangaRipper.zip with Winrar and 7zip, I've got a problem extracting the file MangaRipper.exe
It's done the same thing with multiple downloads and comes up with the same error message "cannot open file: file name as archive"

[2017-01-19 17:20] JedBurke commented on #35
Please clarify, can you open "MangaRipper.zip" as an archive and extract its files? The file "MangaRipper.exe", as it appears in the image, is a text file and not an archive. Double-click on "MangaRipper" to run the application.

![Screenshot](http://i.imgur.com/3gofGcW.jpg)

[2017-01-19 20:56] CMDRGoro opened #36 "Cant start at all."
Program starts and then closes, no error msg or nothing.

My log:

2017-01-19 21:42:39.2822 INFO > Worker()
2017-01-19 21:42:40.4884 INFO Local version: 1.0.140. Remote version: 1.0.165
2017-01-19 21:43:42.8963 INFO > Framework.Init()
2017-01-19 21:43:42.9124 INFO > Worker()
2017-01-19 21:43:53.8885 INFO > Framework.Init()
2017-01-19 21:43:53.9156 INFO > Worker()
2017-01-19 21:44:22.7844 INFO > Fr

[2017-01-20 01:17] iYatsumi commented on #33
i dont know what was the error but the new release fine and looks great ! so nvm ~ and yes the empty space was there its the name of my folder.  and as for the log it looked something like this for future references.

2017-01-18 19:38:00.9869 INFO > Framework.Init()
2017-01-18 19:38:01.0807 INFO > Worker()
2017-01-18 19:38:07.0507 INFO > FindChapters: http://mangafox.me/manga/blood_lad/
2017-01-18

[2017-01-20 01:25] iYatsumi commented on #33
the same error just happened with the newest released and for some reason every time it crashes, it removes all my bookmarks as well.

https://gyazo.com/1835175c11abc4178f72bc16227c832b

the log:
https://gyazo.com/404182d089e0886639dcde5a8d61d50b

[2017-01-20 01:30] iYatsumi commented on #33
So the error seems to be on the server or website that im using to download the manga, i tried re downloading it from Bato but that didnt work either, however, it was successful when i tried to download it from Mangareader.net

[2017-01-20 03:18] NguyenDanPhuong commented on #36
It seems you missed the Plugins folder. Please check if you have enough files and folders as listed below.

![image](https://cloud.githubusercontent.com/assets/20277465/22134444/91f515a2-def9-11e6-9e99-522a212ee4e0.png)

[2017-01-20 03:52] NguyenDanPhuong commented on #33
@iYatsumi: I can download it normally. But I think maybe you're living in a country where that manga is licensed and MangaFox and Batoto block your access.

The error message is not good and I will improve it. Thank you for reporting :)

[2017-01-20 03:54] NguyenDanPhuong opened #37 "Error message need to be improved"
- When MangaFox cannot parse chapters due to licensed title in some regional.
- When Plugins folder does not exist.
- ...

[2017-01-20 04:03] CMDRGoro commented on #36
it looks to me like i have it all:

[http://i.imgur.com/NIeO6Ws.jpg](url)
[http://i.imgur.com/iedShjs.jpg](url)

[2017-01-20 04:27] NguyenDanPhuong commented on #36
Can you try with the latest beta version:

https://ci.appveyor.com/project/NguyenDanPhuong/mangaripper/branch/dev/artifacts

I've added more exception logging so the log is more detailed.

[2017-01-20 06:26] CMDRGoro commented on #36
Im at work atm.
Will check as soon as ill galet back.

20 sty 2017 05:27 "NguyenDanPhuong" <notifications@github.com> napisał(a):

[2017-01-20 06:43] #37 closed

[2017-01-20 11:57] BaganLee opened #39 "MangaFox Error"
Hello.  I get an error when i am trying to download a new chapter from mangafox i get this error: http://imgur.com/a/mdlxl . That happened only at MangaFox i have tried to download  many mangas from the same site to see if this is going to happening  again and it did happened again. I check and the other post about the mangaripper stop working but i didn't find anything useful.
And here is me log

[2017-01-20 13:25] NguyenDanPhuong commented on #39
From the log. It's seem that MangaFox server was having problem. The error is because app cannot open the url  http://mangafox.me/manga/onepunch_man/vTBD/c069/1.html

Can you run it again? Can you open above url from your browser to see if it works.

[2017-01-20 14:09] JedBurke commented on #33
[ReLIFE](http://www.mangaupdates.com/series.html?id=113469) has indeed been licensed. But since the blocking seems spotty, I'd like to know whether MangaRipper or the host is at fault. Can you read those chapters from your web browser or are you blocked completely?

[2017-01-20 15:05] CMDRGoro commented on #36
My current log from that beta:

2017-01-20 16:02:00.3882 | INFO | FrameworkProvider | > Framework.Init()
2017-01-20 16:02:00.3882 | INFO | WorkerController | > Worker()
2017-01-20 16:02:00.4102 | FATAL | Program | Unhandled Exception
System.IO.FileLoadException: Nie można załadować pliku lub zestawu 'file:///E:\MangaRipper\Plugins\MangaRipper.Plugin.Batoto.dll' lub jednej z jego zależności. Operac

[2017-01-20 15:21] NguyenDanPhuong commented on #36
It's a security feature prevent loading plugins from a remote location. Are you running MangaRipper over a shared folder?

[2017-01-20 15:51] CMDRGoro commented on #36
No, E is my local drive.
Runing from admin account changes nothing,

[2017-01-20 15:56] NguyenDanPhuong commented on #36
Windows detects file are copied from network and block them. Can you right click files and choose Properties then unblock them. For every exe and dll files.

Can you tell me extract ly what are you doing after download app. What unzip application you're using.

[2017-01-20 16:04] CMDRGoro commented on #36
I did that properities -> unblock for all files (had to do it one by one, cant do it in bulk) and now it runs :D .

![image](https://cloud.githubusercontent.com/assets/25233098/22156172/6c26709e-df32-11e6-8973-96fbc9c6e2c8.png)

Why did this happen? I had no problems with previous versions...

[2017-01-20 16:07] CMDRGoro commented on #36
Aaaaaaand not good yet.

![image](https://cloud.githubusercontent.com/assets/25233098/22156268/d72e81a6-df32-11e6-99a8-ccda7d24e55f.png)

I get error when trying to DL...

[2017-01-20 16:09] NguyenDanPhuong commented on #36
It's because Windows detect those files are copied from internet and block them. It's strange because you download zip file only and create all files from zip file so it doesn't count as downloaded from internet. May be due to the unzip application you're using.

[2017-01-20 16:10] CMDRGoro commented on #36
I tried diferent sites and its only when downloading from mangafox, tried batato and mangahere and they work fine.

ps im using winrar as always.

[2017-01-20 23:24] BaganLee commented on #39
It opened from my browser. I tried to run it again and it give me the same error

[2017-01-20 23:31] coczero opened #40 "Save as PDF"
It would be very useful to me to put the downloaded images directly into a pdf.
Ne old MangaRipper had that functionality and I always used it.
Might be cool to have the choice between each chapter into its own pdf or all chapters into one.

[2017-01-21 01:04] iYatsumi commented on #33
i can read them fine on browsers, i already had a few chapters downloaded before from mangafox with that manga.

[2017-01-21 02:44] NguyenDanPhuong commented on #33
The crash bug fixed in latest version. Can you use it and reupload logs file in a here? I've added more detailed logging.

[2017-01-21 04:14] iYatsumi commented on #33
https://gyazo.com/95a720b7e3f1a4024a0b0db771fada7f

Works fine indeed

[2017-01-21 12:14] NguyenDanPhuong commented on #36
Can you re-upload the log file for the new can't find path issue?

[2017-01-21 12:16] NguyenDanPhuong commented on #39
This is seem to be a problem with MangaFox server. MangaHere is almost the same. Can you use it in the mean time. If this problem keep happening in the next few days. Please let me know. Thanks.

[2017-01-21 12:22] CMDRGoro commented on #36
2017-01-21 13:18:06.3035 | INFO | FrameworkProvider | > Framework.Init()
2017-01-21 13:18:06.3035 | INFO | WorkerController | > Worker()
2017-01-21 13:18:06.7356 | INFO | Batoto | Current Username: gufrohepra. New Username: gufrohepra
2017-01-21 13:18:06.7356 | INFO | Batoto | Current Password: 123. New Password: 123
2017-01-21 13:19:25.1663 | INFO | WorkerController | > FindChapters: http://manga

[2017-01-21 15:10] NguyenDanPhuong commented on #36
Ok. I think I've found the problem. :) MangaFox returns error when you made too many connections to their server in a short time. You may have run 2 instance of MangaRipper to download from MangaFox or download and browsing MangaFox at the same time.

[2017-01-21 15:11] NguyenDanPhuong commented on #39
Ok. I think I've found the problem. :) MangaFox returns error when you made too many connections to their server in a short time. You may have run 2 instance of MangaRipper to download from MangaFox or download and browsing MangaFox at the same time.

[2017-01-21 15:11] NguyenDanPhuong commented on #33
Ok. I think I've found the problem. :) MangaFox returns error when you made too many connections to their server in a short time. You may have run 2 instance of MangaRipper to download from MangaFox or download and browsing MangaFox at the same time.

[2017-01-21 15:43] CMDRGoro commented on #36
I tried running to copies and DLing at same time got same error.
Same for DL while browsing :(

[2017-01-21 16:12] iYatsumi commented on #33
i don't recall having more than one connection to the server though, i only had the app open without my browers on mangafox. But since the problem was resolve, it's all good.

[2017-01-21 17:00] #33 closed

[2017-01-21 17:03] NguyenDanPhuong commented on #36
I've made this into F.A.Q. Let close this for now.

[2017-01-21 17:03] #36 closed

[2017-01-21 22:26] iYatsumi commented on #3
Hey Dan, i don't know if you were still looking for icon ideas but here's one of mine. I could also change the colors to your preferences or whatever.

the icon:
![2](https://cloud.githubusercontent.com/assets/8799430/22178154/5dfd43c8-dffd-11e6-94bb-5688c524f46f.png)

on taskbar:
![a808f76e0d7780f51f8e8f66712c21a2](https://cloud.githubusercontent.com/assets/8799430/22178178/a28c0768-dffd-11e6-904

[2017-01-22 00:47] BaganLee commented on #39
I tried again to download from mangafox and it give my the same error as the last time and i didn't have open any browser tab at mangafox and i give it a try with closed browser and again it give me the same error i am going to late it some days and see if something change  if not i am going to post here again and let you know.

[2017-01-22 01:58] iYatsumi commented on #39
@BaganLee i tried on my end with the latest release (version 1.0.173) with the same manga and it worked fine for me.

This might be a silly question but are you using the latest version ? because i as well used to have that same error but it was fixed when using the new release.

And if you are already using the latest version could you upload once again the log ?

- %APPDATA%\MangaRipper\Logs

[2017-01-22 10:09] CMDRGoro commented on #39
I have same issue, i didn't go to mangafox at all today, not in broswer nor in manga ripper, log (im running 1.0173):

2017-01-22 11:04:41.6901 INFO > Framework.Init()
2017-01-22 11:04:41.6901 INFO > Worker()
2017-01-22 11:04:41.8505 INFO Current Username: gufrohepra. New Username: gufrohepra
2017-01-22 11:04:41.8505 INFO Current Password: 123. New Password: 123
2017-01-22 11:04:45.1162 INFO > Fin

[2017-01-22 10:49] BaganLee commented on #39
@iYatsumi Hello i have share my log but here >http://pastebin.com/KJ8sQFks . And yes i am using the latest version.

[2017-01-22 14:24] NguyenDanPhuong commented on #3
Thanks. It looks good. Can you change the color a little bit. I'd like it more simple and material/metro (like Android/Windows 10) design like the rest of your icons in the images. Ex: use less color, without reflection... The output format. Can you use icon with multiple resolution or you can upload an png 256x256 then I can convert it.

[2017-01-22 20:38] iYatsumi commented on #39
@BaganLee @CMDRGoro

For now try using another website to download the manga you want from Mangaripper, it is unknown as to why Mangafox is working for some people and doesn't for others (Might be licenses or server issues). So until this issue is fixed, the best course of action is to use the other websites listed.

- Bato.to
- Mangareader.com
- Read.mangashare.com
- etc.

if those don't work eit

[2017-01-22 23:43] iYatsumi commented on #40
You could try the alternative which is saving it as .CBZ, it is similar to the PDF format which saves every chapters into one file.

You will need the app called cdisplay in order to read the .cbz format though which is free.
It is pretty easy to use and has more options than the Adobe Reader. Try it out !
- http://www.cdisplay.me/

[2017-01-22 23:43] iYatsumi commented on #3
![1](https://cloud.githubusercontent.com/assets/8799430/22187233/825f29c4-e0d0-11e6-8405-d00bd35db833.png)

https://www.sendspace.com/file/tx65wn

- 256x256
- 128x128
- 48x48
- 32x32
- 16x16

[2017-01-23 00:18] iYatsumi opened #42 "Unable to uncheck the "Save as Folder" Box"
Minor issue but users should be able to uncheck the "**save as folder**" option when choosing the .cbz format since it isn't needed or at least have the option to choose whether or not they want that option so that they don't end up downloading the .cbz format with the folder format.

![a04083aaad5a67a9ea022031f8e2539c](https://cloud.githubusercontent.com/assets/8799430/22187532/49b95148-e0d6-11e6

[2017-01-23 03:10] iYatsumi opened #43 "Customization"
i was wondering if there was a way to customize the UI of the app with the source code you provided or something along the files that came with the app. Im still new to programming so i don't really know how everything works.  i do have ms visual 2013 if that's relevant somehow.

[2017-01-23 09:19] NguyenDanPhuong commented on #3
It's really hard to explain my idea using text. Let me make a quick sketch and comeback later. ;)

[2017-01-23 09:21] NguyenDanPhuong commented on #42
This is in my plans. But I'd like to implement a more stable + controllable bookmark first. Then I will create a plugin system to allow export to multiple formats.

[2017-01-23 09:23] NguyenDanPhuong commented on #43
For better UI. I'd like to move from WinForm to WPF. Here is a tutorial about WPF if you want to take a look.

[2017-01-23 09:23] NguyenDanPhuong commented on #32
It'd be nice to have. But I have a lot of unfinished work in hand. :( But let keep the idea here for now.

[2017-01-23 12:47] iYatsumi commented on #43
where's the tutorial ? and i'll look into it for sure, thanks !

[2017-01-23 15:42] NguyenDanPhuong commented on #43
Sorry I forgot to post link :) http://www.wpf-tutorial.com/

[2017-01-25 08:05] JohnJTR opened #44 "Mangaripper will not start"
I'm using the latest version 1.0.173 but when I extract it and launch the program, nothing happens. Windows smartscreen warns me about it on the first try but I run it anyway. I tried disabling it to see if it was preventing it from launching regardless, but it still refuses to start.

CMDRGoro seems to have had this issue, but I don't seem to understand how the issue was resolved.

[2017-01-25 09:42] NguyenDanPhuong commented on #44
I update the F.A.Q to cover this case and include a short how to fix. Please see [F.A.Q.](https://github.com/NguyenDanPhuong/MangaRipper/wiki/F.A.Q.)

[2017-01-25 23:44] iYatsumi commented on #3
@NguyenDanPhuong still waiting about that sketch in case you forgot about it

[2017-01-27 03:19] NguyenDanPhuong commented on #3
Hi iYatsumi, I'm on vacation for 2 weeks now and only can access internet on my phone. I will create the draft when I get back. Thank you. :)

[2017-01-29 11:04] Dichter68 commented on #24
Hi. How about setting the sort-option of the url-combobox on true.
It would work as simple solution. The only drawback  I see is that it would sort the complete url and not just the name of the manga.

example:
http://mangafox.me/manga/a
http://mangafox.me/manga/e
http://mangafox.me/manga/f
http://www.mangahere.co/manga/b
http://www.mangahere.co/manga/c
http://www.mangahere.co/manga/d

It would he

[2017-02-01 19:58] iYatsumi opened #45 "MangaRipper.Core error"
![2017-02-01_14-52-15](https://cloud.githubusercontent.com/assets/8799430/22523632/14355200-e88e-11e6-9e4b-307904d3eb73.gif)

Trying to download a manga (any) but i keep getting that error.

What occurred before this was me installing a game which required me to install Ms Visual C++ 2012 by default.

![mangaripper_2017-02-01_14-49-28](https://cloud.githubusercontent.com/assets/8799430/22523706/4f

[2017-02-02 20:23] iYatsumi commented on #45
it fixed itself somehow when i was installing a plugin for another program which require to update or install Microsoft Visual 2010 C++

[2017-02-02 20:23] #45 closed

[2017-02-05 11:32] GambitKZ commented on #28
Thanks to @JedBurke I have implemented the plugin for "WebRequest".
Guys, can some of you make a quick test on your favorite manga?
Because, I test it only on two titles?

[2017-02-06 05:47] #35 closed

[2017-02-06 05:48] #44 closed

[2017-02-08 14:19] NguyenDanPhuong commented on #28
I close this as it's implemented by @GambitKZ :)

[2017-02-08 14:19] #28 closed

[2017-02-08 14:20] NguyenDanPhuong commented on #42
Fixed in latest version

[2017-02-08 14:20] #42 closed

[2017-02-10 23:30] BaganLee commented on #39
Just a quick update  i don't have any problem with mangafox. And  because i want to ask a question and i don't want to open a new issues just for that, did you try to add the mangastream site too.

[2017-02-11 02:55] NguyenDanPhuong commented on #39
@BaganLee You should create another issue to request feature. It'll draw attention and someone may decide to work on it.

Since you don't have any problem with MangaFox. Let's close it.

[2017-02-11 02:55] #39 closed

[2017-02-15 00:22] BaganLee opened #48 "Save To Path Problem"
Hey. I don't know why i am always here to tell you about some error/problem i have find but w/e.
When i am trying to change the path to another location from the prefix you have as a default it give me this error  http://imgur.com/a/psd4B and the logs http://pastebin.com/MtKNqy3g if you need it.

[2017-02-17 02:09] NguyenDanPhuong commented on #48
I've checked and the problem is you cannot download to another disk volume. I'll push a fix soon.

[2017-02-17 23:38] BaganLee commented on #48
Ok thanks

[2017-02-17 23:50] BaganLee opened #49 "Add Mangastream"
Hi.  Is it possible to add the mangastream.com to mangaripper is one of the best manga site out there

[2017-02-21 17:20] binhminh86 opened #50 "MangaRipper has stop working"
i download and extract the zip file.
then try to run MangaRipper.exe but it not working.
windows 7, already got the .net framework 4 cllient profile
![image](https://cloud.githubusercontent.com/assets/10412394/23176211/ba545468-f894-11e6-9d41-2fc99cd0a48b.png)

[2017-02-22 12:35] JedBurke commented on #50
Did you extract *all* of the files and folders from the zip file before running?

[2017-02-22 13:27] binhminh86 commented on #50
Yes all in one folder

[2017-02-22 22:35] JedBurke commented on #50
All right. Check if the application is not being blocked by your firewall. On startup, it checks for updates but will crash if blocked. The error message may be different depending on the version of Windows.

If the problem still persists, please upload the text file with the most recent date in the *%APPDATA%\MangaRipper\Logs* folder.

[2017-02-25 13:00] binhminh86 commented on #50
Sorry for late reply
I always disable firewall in my computers.
here is my log

2017-02-22 00:23:14.2863 INFO > Main()
2017-02-22 00:23:14.3173 INFO > Framework.Init()
2017-02-22 00:23:14.3173 INFO > Worker()
2017-02-22 00:23:14.3173 FATAL Unhandled Exception
System.IO.FileLoadException: Could not load file or assembly 'file:///C:\Users\Truong\Downloads\MangaRipper (1)\Plugins\MangaRipper.Plugin.B

[2017-02-25 15:02] NguyenDanPhuong commented on #48
I've fixed this. Sorry for the long waiting.

[2017-02-25 15:02] #48 closed

[2017-02-25 15:04] NguyenDanPhuong commented on #50
The problem looks similar to the one in F.A.Q. (https://github.com/NguyenDanPhuong/MangaRipper/wiki/F.A.Q.)

Can you run PowerShell as mentioned: Dir "<Path to MangaRipper folder>" -Recurse | Unblock-File

[2017-02-25 15:05] NguyenDanPhuong commented on #49
Let me take a look :)

[2017-02-25 15:09] NguyenDanPhuong commented on #24
I've done. It is on the latest version.

[2017-02-25 15:09] #24 closed

[2017-02-26 03:18] binhminh86 commented on #50
This powershell ? sorry i do not have much knowledge in this.
![image](https://cloud.githubusercontent.com/assets/10412394/23336802/b8d5ab20-fc0c-11e6-9b23-c106d74a1c7c.png)

[2017-02-26 03:34] NguyenDanPhuong commented on #50
It's seem your PowerShell version is an old version. Another way to work around this is use 7-Zip to extract MangaRipper.zip file. Don't use build-in un-zip or WinRAR. 7-Zip can be downloaded from http://7-zip.org/

[2017-02-26 11:38] JedBurke commented on #50
As @NguyenDanPhuong mentioned, the file(s) may be blocked.

Besides with Poweshell, you may also identify that the file has been blocked by right-clicking it in Explorer and clicking Properties. Here's an image from The Windows Club of how a blocked file appears in the Properties window.

http://thewindowsclub.thewindowsclubco.netdna-cdn.com/wp-content/uploads/2012/05/File-Originated-From-Internet

[2017-02-26 19:15] RudeBoyEEEE opened #53 "For Batoto (bato.to), can you make it possible to select specific languages?"
As you know, Batoto has multiple languages, I was just wondering if you could make an option to filter certain languages for this site. Thanks, and awesome work so far!

[2017-02-27 14:11] binhminh86 commented on #50
Thanks you guys so much, did as @JedBurke suggest and now it work!!

[2017-02-27 15:20] #50 closed

[2017-03-04 06:26] Demorra opened #55 "Unable to run since 1.0.104"
I have tried all the releases from 1.0.140 up to 1.0.208, but I am only able to run the 1.0.140 release.
Running on Windows 10 Home (Build 14393).
I have tried running as administrator.
I have tried running in compatibility modes for Vista, Vista SP1, Vista SP2,7, 8, and natively on 10.

[2017-03-04 09:52] JedBurke commented on #55
If it exists, please upload the text file with the latest date in the *%AppData%\MangaRipper\Logs* folder.

In the meanwhile, please try what was suggested in #50. The [Wiki](https://github.com/NguyenDanPhuong/MangaRipper/wiki/F.A.Q.#cannot-start-mangaripper-the-log-file-shows-nothing) has more.

[2017-03-04 11:39] Demorra commented on #55
I tried the powershell fix [Dir "<path>" -Recurse | Unblock-File] to no avail. And there's no logs of when I try to use the newer version. Just logs of 1.0.104.

[2017-03-04 12:13] JedBurke commented on #55
@Demorra No worries, glad you got your problem solved.

[2017-03-05 09:40] Sher1234 opened #56 "Not Showing All Chapters from some Mangas"
Using The MangaRipper 1.0.208 its the best & easy to use tool but
The Manga: Detective Conan
Site: http://kissmanga.com/Manga/Detective-Conan
Contains Over: 989 Chapters
But it just Showing Chapters after 353
I tried to refresh (get chapters) many times but still no luck

Thanks for amazing tool

[2017-03-05 14:49] #55 closed

[2017-03-05 23:52] BaganLee commented on #56
Have you try to downloaded from another site e.g mangahere.com and if you have tried and  does it give you the same chapters as kissmanga . If it makes the same problem  post the log (you can find them at location > log and copy/past the newest here). Just something you need to know i am not going to help you fix your problem, if you do what i am saying you to do is going to be easier for some peo

[2017-03-07 05:25] orangpelupa opened #57 "wont start at all in windows 10"
theres also no log file :(

[2017-03-07 13:44] amayra commented on #57
i compiled this application in windows 10 and work fine do you insider preview ?

[2017-03-07 13:45] amayra commented on #57
and what antivirus and firewall do you use ?

[2017-03-08 00:00] iYatsumi commented on #3
!

[2017-03-09 09:23] NguyenDanPhuong commented on #3
@iYatsumi Thank you for reminding but I still cannot come up with the design. I've made a lot of draft but doesn't feel right. I didn't know it was that hard. :(

[2017-03-09 09:24] NguyenDanPhuong commented on #56
This is indeed is a bug. I will fix it in the next release. Thanks for reporting.

[2017-03-09 09:25] NguyenDanPhuong commented on #57
Can you try to use 7-zip to unzip downloaded file as stated in F.A.Q.

[2017-03-09 15:27] Sher1234 commented on #56
No Problem in that
& Thanks for amazing tool

[2017-03-12 20:09] MarioNagi opened #58 "download the chapters to folder with the manga name"
i would like to thank you for your great work :D but i was wondering if you could make the program create a folder with the manga name and download the chapters in it which will make the viewing process much tidier thanks again :D

[2017-03-13 09:23] JedBurke commented on #58
Not the dev, but was *just* thinking about how to implement it when I came across this. :p

[2017-03-14 13:05] #57 closed

[2017-03-15 15:18] NguyenDanPhuong commented on #56
@JedBurke Can you help to create a pull request if you manage to fix this one? Thanks.

[2017-03-15 21:54] JedBurke commented on #56
@NguyenDanPhuong Okay, let me see what I can do about it.

[2017-03-16 13:04] Sher1234 commented on #56
It Worked all Chapters are now showing
Thanks

[2017-03-16 13:08] #56 closed

[2017-03-20 16:19] dawnlodd opened #60 "kissmanga download error"
i dont know if this is an issue with my pc, but the mangaripper.core keeps sending me a message about how it cant access the chapters of the manga i want it to download. i tried messing with the code but couldnt do anything about it. downloaded again but the issue still there.

this only happens with kissmanga. everything is working fine but cant get anything from kissmanga.

anyone having this is

[2017-03-20 16:49] JedBurke commented on #60
Hi, which version of Windows and the application are you using?

[2017-03-21 15:47] NguyenDanPhuong commented on #60
I've just do a quick debug. MangaKiss now encrypted image's url using AES. It'll take some time to bypass this.

function wrapKA(base64EncodedUrl)
{
    var decryptedUrl=null;
    try
    {
        var _0xfac5x1d=CryptoJS["lib"]["CipherParams"]["create"]
        (
            {
                ciphertext:CryptoJS["enc"]["Base64"]["parse"](base64EncodedUrl)
            });
                var _0xfa

[2017-03-22 13:32] NguyenDanPhuong commented on #60
I've fixed KissManga. However the fix affect startup time. It takes longer for MangaRipper to start. You can try with latest source code.

[2017-03-23 09:19] GambitKZ commented on #60
Guys, I have wrote the code without phantomJS, to pass the encryption.
I have checked it against 3 titles, and it looks good so far.

[2017-03-23 09:54] JedBurke commented on #60
@GambitKZ Was working on a fix using Jurassic. Nice getting it done without a JS lib. :grin:

[2017-03-23 11:56] NguyenDanPhuong commented on #60
Amazing guys. Lets use the fix from @GambitKZ, Using PhantomJS was my laziness. :D

@GambitKZ: Can you help resolve conflict in the pull request?

[2017-03-23 12:39] GambitKZ commented on #60
@NguyenDanPhuong
We get it because as a base, I have used commit before phantomeJs.
We have two option here:
1) Rebase to previous version and force push from your side
2) Update dev branch, merge into feature, fix conflicts, That from my side.

We can go with whatever option you like. However I will be able to start on option two in a hour or so.

[2017-03-23 13:34] JedBurke commented on #60
@NguyenDanPhuong But it still got the job done. :) Should events like these persist, maybe emulating a browser isn't such a bad idea.

[2017-03-23 13:49] GambitKZ commented on #60
@JedBurke Maybe it's better to rewrite the code with HttpClient? Like you did previously.

[2017-03-23 14:08] JedBurke commented on #60
@GambitKZ I think for the time being, you guys have the solution. Though it's clear what was intended with the encryption and wouldn't be surprised to see the keys change soon.

[2017-03-23 14:22] GambitKZ commented on #60
@NguyenDanPhuong I have fixed the code. Now It can be merged.

[2017-03-24 08:21] NguyenDanPhuong commented on #60
Guys, let keep monitoring the situation. If KissManga keeps changing. We may consider using PhantomJS.

[2017-03-24 09:38] JedBurke commented on #60
Site's up again.

[2017-03-24 15:31] GambitKZ commented on #60
Test passed. Looks like everything ok for now.

b.t.w. Maybe CryptoJS is a work of CloudFlare?

[2017-03-27 06:46] NguyenDanPhuong commented on #49
Added in latest release.

[2017-03-27 06:46] #49 closed

[2017-03-27 06:47] NguyenDanPhuong commented on #60
Hi guys, I refactor code and adapt the latest encryption scheme from KissManga.

[2017-03-27 06:47] #60 closed

[2017-03-27 06:48] NguyenDanPhuong commented on #58
@JedBurke I think about grouping folder by prefix. :) However, this task is low priority because it can be done quite of easy outside MangaRipper.

[2017-03-27 14:56] JedBurke commented on #58
@NguyenDanPhuong Indeed, it is easy to do outside of MangaRipper. But sometimes if you download a lot, it would be nice if everything went into the folder without having to do anything else. :)

Since the last post, I've been working on something in the experimental branch. I won't make a pull request for it because I'm not sure everyone else will like or want it.

![Save destination](https://clou

[2017-03-27 18:05] MarioNagi commented on #58
amazing work @JedBurke i will use this feature. Many thanks for your support :D

[2017-03-27 20:46] JedBurke commented on #58
@MarioNagi Thank you for your kind words. :)

[2017-03-28 04:37] GambitKZ commented on #58
@JedBurke
b.t.w. I'm also interested in this behavior. So please, do a pull request.

[2017-03-28 10:40] JedBurke commented on #58
@GambitKZ All right, but please give me some time to port it to the official codebase.

[2017-04-01 11:09] GambitKZ opened #64 "KissManga strikes again"
I found interesting thing:
I have successfully  download manga with the "72nnasdasd9asdn123nasdbasd612basd" Chko key, which I took from "lo.js":
![image](https://cloud.githubusercontent.com/assets/17333840/24577672/1e6f54b6-16f4-11e7-9ad0-80bc882b3420.png)

I have tried to do the same on my home PC by putting this key into config. However, it failed.
Thinking something like "it's better to return

[2017-04-02 03:47] kristycyw opened #65 "Unable to run .exe"
Hi, Im not sure what the issue is, but I have downloaded the zip and unpacked it but am unable to run the .exe file. Not sure what the issue might be, thank you for your time. I'm on windows 10

[2017-04-02 09:12] GambitKZ commented on #65
Sorry, but it's too vague.
Did you get any errors during executions?
Does your firewall/antivirus gave any errors?
Can you see a log file?

[2017-04-02 16:24] kristycyw commented on #65
That's the thing, I'm not sure if its a permissions issue but when i click on the .exe file nothing happens at all. The cursor turns into a blue circle (running) and then nothing happens at all. I tried giving admin privileges,  a window pops up asking for approval, I agree and then again, nothing happens no matter how long I wait. could something be blocking the program?

[2017-04-02 16:31] #65 closed

[2017-04-02 16:31] kristycyw commented on #65
Ah, I found the problem, you have to extract the file with 7zip instead of the windows unzip function.

[2017-04-03 02:55] NguyenDanPhuong commented on #64
I have a simpler way for user to get chko and iv.
 - Use Chrome. Open a page that display manga's image on kissmanga. Ex http://kissmanga.com/Manga/Naruto/Naruto-Side-Story-001?id=290947
- Open Developer Tools by press F12. Navigate to Console tab.
- Type chko then press enter to get chko value.
- Type iv.toString() then press enter to get Iv.
- Open config file to replace them. :)

I will update

[2017-04-03 11:33] AntiSora opened #66 "app not responding. ever."
i unzipped it with 7zip and its still not working, not sure what i should do here...

also for some reason the .txt log file isnt uploading so im gonna paste the contents here

`2017-04-03 08:10:15.5307 | INFO | Program | > Main()
2017-04-03 08:10:15.8603 | INFO | FrameworkProvider | > Framework.Init()
2017-04-03 08:10:15.8603 | INFO | WorkerController | > Worker()
2017-04-03 08:10:15.8759 | INFO

[2017-04-03 12:53] JedBurke commented on #66
Hi, please try what's mentioned [here](https://github.com/NguyenDanPhuong/MangaRipper/issues/50#issuecomment-282549931).

Alternatively, if it doesn't work, please tell me which version of Windows you're using and the application's behavior before it crashes. (i.e. Does the screen show then turn white with "Not Responding"? Does it just crash without showing?)

[2017-04-03 12:57] AntiSora commented on #66
The file doesn't appear to be blocked at all, the app opens and immediately freezes after it is started up and becomes "not responding"; im using it from and external hard drive, could that have something to do with this?

[2017-04-03 13:30] JedBurke commented on #64
It's not my call to make, but I wouldn't want to ask the user to fetch the keys themselves.

With that said, I am personally very interested in seeing what Jurassic can do.

In my fork, I've used HTML Agility Pack in conjunction with Jurassic. What it does is, it looks for the keys in the live version of the page before getting and decrypting the image URIs.

The [binaries](https://github.com/JedB

[2017-04-03 17:52] GambitKZ commented on #64
Double this. It's better to keep PhantomJS as a wild card for a very hard cases.
And who knows, maybe we will find a good performance solution with Jurassic.

I'm also will try to read a little bit more about Jurassic.

Thanks. Spent two working weeks on Tech Analysis, have tried to relax on weekends...and look what I've got :(

[2017-04-03 17:57] GambitKZ commented on #66
@NguyenDanPhuong I think it's better to remove login/pass from logs

[2017-04-03 18:03] JedBurke commented on #66
I apologize for the late reply. I don't have an external hard drive, but it worked when I tested it from a flash drive, so I can't say definitively that it does or doesn't have anything to do with it.

Another thing, have you allowed the application through the firewall? There's a bug which might cause it to crash or display an error on start if it isn't allowed.

[2017-04-03 18:04] GambitKZ commented on #66
Looks like those files can't be created. Not enough rights?

@NguyenDanPhuong b.t.w. Why do we keep those files (with logs) in "C:\Users\%User%\AppData\Roaming\MangaRipper\", and not in the same folder where MangaRipper.exe is located?

[2017-04-03 18:21] JedBurke commented on #66
@GambitKZ Maybe it's there to accommodate a multi-user system?

[2017-04-03 18:24] AntiSora commented on #66
@JedBurke (it's fine, than you for spending your time on this and helping me, im grateful :) )
It's interesting you say that, the program does not appear in my firewall's allowed/not allowed list
![image](https://cloud.githubusercontent.com/assets/26870998/24624273/a678ba80-1881-11e7-9fb5-ea146329d200.png)
It should appear here but it does not.

[2017-04-03 18:26] GambitKZ commented on #66
Ok. Now I see that it was a stupid question from my side...

[2017-04-03 18:28] AntiSora commented on #66
![image](https://cloud.githubusercontent.com/assets/26870998/24624404/252e1c8a-1882-11e7-8640-d3cd61fdf8bb.png)
nope. did not work either :disappointed:

[2017-04-04 21:24] eqzamg opened #67 "Proxy Preferences"
first of all i would like thank you for your excellent work, this app work like a charm. however in your former version of this app there were a proxy setting menu, but i can't found in your recent version. as my country blocks most of manga site. some site can't be parse . could you add proxy features again in your oncoming version. Thx !

[2017-04-05 10:12] NguyenDanPhuong commented on #66
It cannot create files in C:\Users\Gabriel\AppData\Roaming\MangaRipper\Data\
Can you try to run app with Administrator by right clicking on exe and Run as administrator?

@GambitKZ @JedBurke This is for multiple users but maybe we should make MangaRipper portable by putting every files in a subfolder of MangaRipper.

[2017-04-05 11:18] JedBurke commented on #66
@GambitKZ

Wouldn't say that… I wondered why it was there myself at one point.

@NguyenDanPhuong

Was running out of ideas there. :frowning:

What if the user extracts the application to "Program Files" and requires admin rights in order to write to the  bookmark file or log?

[2017-04-06 20:19] riichu opened #68 "Please add another source"
I really love your app and I was hoping if you could add another source for download. Especially this site -
http://englishfortamils.com/comics/index.php?album=Manga

[2017-04-08 07:22] GambitKZ commented on #66
Double that.

b.t.w. I have done so myself. Though in my case I just gave write/execute permissions for user in "ProgramFiles/MangaRipper" folder.

[2017-04-08 20:02] AntiSora commented on #66
@NguyenDanPhuong  i tried this MULTIPLE times and it still crashed, however, after restarting my pc and trying to run it as admin AGAIN it did work and im able to download stuff now, THANK YOU EVERYONE FOR THE HELP :)
![image](https://cloud.githubusercontent.com/assets/26870998/24832015/077fdf62-1c7d-11e7-84f8-6a117127f230.png)

[2017-04-08 20:07] AntiSora opened #69 "mscorlib: the process cannot access the file because it is being used by another process."
not exactly sure what this means but it appears to be interrupting my downloads at about halfway trough (52%,53%)
![image](https://cloud.githubusercontent.com/assets/26870998/24832046/bf997d60-1c7d-11e7-8657-d3094e3e1789.png)

[2017-04-08 23:39] Huenyan opened #70 "Option to download Comics"
Hi, huge fan of your work here. This software helped me to save a lot of bandwidth in my phone.
Just want to ask if there is any plan to include an option to download from comics sites, like readcomics.tv.

[2017-04-09 15:27] JedBurke commented on #70
Not the developer, so I can't say whether or not there will be support for it. However, in the meantime, [here's](https://github.com/NguyenDanPhuong/MangaRipper/files/908282/MangaRipper.Plugin.ReadComics.dll.zip) a (poorly tested) plugin which provides support for "ReadComics.tv".

To use it, extract the zip file into *MangaRipper\Plugins* and run MangaRipper.

In the event it doesn't work, make s

[2017-04-11 04:46] Huenyan commented on #70
@JedBurke
It did not work. I got the message "Cannot find service to download". And when I click on the link in the grid with the sites I got [this one](http://i.imgur.com/UtOeadF.jpg).

I notice that all the other plugins have a .pdb file and your doesn't, maybe that is the problem.

[2017-04-11 04:59] NguyenDanPhuong commented on #69
It possible that your computer is infected by the virus. It try access files on your computer and make MangaRipper cannot manipulate files. Do you have any AV installed?

[2017-04-11 11:52] JedBurke commented on #70
@Huenyan The PDB file shouldn't have had anything to do with it as I checked if it worked before excluding it. It was a bug caused in a place where I never tested... Anyway, [here's](https://github.com/NguyenDanPhuong/MangaRipper/files/913048/Plugins.zip) the updated DLL including its PDB for peace of mind. :)

Usage is the same as before, you may have to click 'Unblock' to get it to work.

[2017-04-11 20:13] Huenyan commented on #70
It worked, thanks.

[2017-04-11 21:08] JedBurke commented on #70
I'm glad to hear it, enjoy.

[2017-04-13 01:46] Demorra opened #71 "[Requests] Bookmark auto-download & Bato.to things"
Just some ideas that would be useful to what I'd assume to be many others like me...
I read many ongoing manga. Individually checking the bookmarks, selecting the download path, and selecting the new available chapters for each series is rather time consuming. I understand that this is a free software and what I'm asking for might be a lot, but just if it's possible:

- Automatically downloading c

[2017-04-15 15:47] NguyenDanPhuong commented on #67
Hi @eqzamg

Do you have access to VPN service. I've removed the proxy feature since it now proxy has been replaced by VPN. More secure and work with every applications.

[2017-04-17 08:34] #69 closed

[2017-04-18 03:51] AntiSora commented on #69
I have an avast, ill try to mess with it

[2017-04-18 22:37] coczero commented on #40
Very late response, I know...
I want to read the downloaded Manga on a Kindle.
As far as I know, Kindle supports cbz, but it would be nice if there would be a built-in way to put all downloaded chapters into one file.

[2017-04-19 01:53] NguyenDanPhuong commented on #71
Thank for your suggestion. It's a nice feature list. I will keep track and will do it.

[2017-04-19 11:54] redxyellow opened #72 "Not Running"
It does not run on my laptop. I'm on windows 10 and I have tried running it without antivirus still no luck. :/

[2017-04-20 09:41] NguyenDanPhuong commented on #72
Hi @redxyellow, Can you check if the download zip file is blocked or not as mention in F.A.Q. section. https://github.com/NguyenDanPhuong/MangaRipper/wiki/F.A.Q.

[2017-04-20 09:47] NguyenDanPhuong commented on #53
It's on my To Do list now :)

[2017-04-21 08:08] Sagippio commented on #67
If you can let the user to choose between proxy or VPN, that would be great. The VPN is very slow in my country, often fails and the download needs to be restarted.

Thanks for your great work!

[2017-04-21 21:27] mankle2262 opened #73 "Support for readcomiconline.to"
Not really an issue but a request I guest.

http://readcomiconline.to/

Seems to be an affiliate or run by the same ggroup as kissmanaga. The site seem very similar not sure if that actually makes it easier, Thanks for the hard work!

[2017-04-27 17:12] GambitKZ commented on #71
Wait. The thing is, you **should** use your own login/pass for Batoto. That's why we have "MangaRipper.Configuration.json" file.

[2017-04-27 23:01] lightyagami97 opened #74 "Download multiple files at once"
Hello!
Let me take this opportunity to tell you that you have developed an awesome software.
I initially downloaded the one at codeplex and now shifted here.
The one thing that i miss from that software is that it had the feature to download multiple files at once but the new version does not allow that anymore. Please can you add that feature again in the next update.
Thank You!

[2017-04-27 23:32] lightyagami97 opened #75 "Re download problem and slow downloads"
just before completing the file download at around 90%, the download stops and the start download button activates for clicking and when you click that the download resumes from 0. Also my internet speed remains in mbs but it take like 5 min to download 10 mb. Please give a nice update asap or suggest a solution soon.

[2017-04-28 02:45] Demorra commented on #71
Yes, I understand this, but if MangaRipper were to become more popular and widespread, how many people do you think will? If you leave in a communal account in the first place, that account may become compromised, so it'd be best to just have a gui within the app's interface to put in your own credentials and leaving the .json files empty.

But eh, maybe I'm over thinking it.

[2017-04-30 14:40] GambitKZ commented on #71
Well, this account is used mostly for passing unit Tests. However, I agree that no one will change the password if it's already working out of the box.
Not sure how to fix this issue.

[2017-04-30 14:45] GambitKZ commented on #75
And you didn't get any errors? What about logs, did you get anything there?

[2017-04-30 20:54] lightyagami97 commented on #75
Well, it says that unable to copy to stream. Also please suggest anything that i can do to support multiple downloads at once.

[2017-04-30 20:56] lightyagami97 commented on #75
And also the solution as to how to assign more bandwidth to this software or how can it be made to download faster.

[2017-05-01 12:09] GambitKZ commented on #64
Looks like something happens once again. It's time to return to PhantomJS and Jurassic.

[2017-05-02 07:03] seiaxen opened #77 "[Request] Add New sites (HeyManga, EatManga, Webtoons)"
Hi,

Really love your works.
Can I request those sites to be added next?
Recently eatmanga has changing it's dns from eatmanga*com to eatmanga*me .

Thankyou

[2017-05-02 12:32] retrogade commented on #75
I'm facing the same problem. Downloads stop midway with an error stating "Download cancelled! Reason: Error while copying content to a stream" . I've tried the same manga from different sites, keep getting this error. And I also second on the speed, seems quite slow.  The times it has worked, it's been great. Thanks

[2017-05-03 06:33] JedBurke commented on #64
I'm going to be busy until the end of the month, so I'll tentatively not be able to work on implementing Jurassic during this time.

[2017-05-10 00:29] alfreeland commented on #72
Same issue

[2017-05-13 11:39] fusiongt commented on #77
Could you also do mangago.com ?

Thanks

[2017-05-15 04:38] Zirkulator opened #78 "[Request] Automaticly adding prefixes to the picture filenames in the chapter folder"
Hi!

**Thank you for your hard work!**
I have a question:
Is it possible to add a function that adds some prefixes (like the manga name, the title or at least the chapter number) to the (picture) filenames in the chapter folders
automaticly when downloading them?

For example:

0001.png       ->       <Manga Name>_<Chapter Nr.>_0001.png
0002.png       ->       <Manga Name>_<Chapter Nr.>_0002.png
0

[2017-05-26 14:59] JedBurke commented on #64
If the KissManga situation hasn't changed, I'm free to begin looking at implementing Jurassic.

[2017-05-27 15:32] GambitKZ commented on #64
Feel free. I'm too busy with work, so I don't know when I will be able to check Jurassic.

[2017-05-27 22:31] JedBurke commented on #64
Cool, will do.

[2017-06-03 16:29] JedBurke commented on #64
I've implemented Jurassic and have done some preliminary tests with it. There are indeed some interesting changes server-side, so I won't say when it'll be done. Will push the commits soon though.

[2017-06-04 14:25] GambitKZ commented on #64
Ok, I'm already excited
https://m.popkey.co/3a81df/rbZYW.gif

[2017-06-06 14:39] JedBurke commented on #64
I doubt it's worthy of such excitement. :) Besides the issue with the encryption, there was / is was one with a CF backed CDN where error pages (521 & 503) were served instead of images. Though another series used the Blogspot domain to serve the images and all was well. We'll see if it's a new development or not.

I've pushed the work-in-progress, checks and optimizations are still underway.

[2017-06-21 21:11] rayaman opened #80 "[Request] CLI"
do you think a command line interface would be possible where one could do:
mangaripper.exe url_to_manga outputdir

[2017-07-05 22:38] iYatsumi opened #81 "Parse content Failed !"
![image](https://user-images.githubusercontent.com/8799430/27887799-985ece8a-61b0-11e7-8772-ae2c6de799be.png)

Worked fine before, tried other sites but no luck, but was stable when downloading from bato.

**the blanks are the title of my folders, this has never been an issue since it worked before

[2017-07-05.txt](https://github.com/NguyenDanPhuong/MangaRipper/files/1126222/2017-07-05.txt)

[2017-07-06 21:17] iYatsumi commented on #81
**Update**

Tried again with Mangareader and it worked fine so probly the server link of bako is corrupted or something

[2017-07-09 09:17] stephenojh95 opened #82 "[request] Adding chinese manga website"
Hi is it possible to add a few chinese translated manga website suppport? like 1kkk or ikanman and etc...

[2017-07-10 22:58] JedBurke commented on #3
@NguyenDanPhuong If you're looking for general UI icons (save, bookmark, etc), [here](https://github.com/Templarian/WindowsIcons) is a repo of flat WP-style icons that you might like.

[2017-07-12 16:04] NguyenDanPhuong commented on #81
I've update a fix for Batoto. Can you check again

[2017-07-12 16:05] #70 closed

[2017-07-15 12:02] NatsuD77 opened #84 "Cant Set the Download location of the Save in series folder"

[2017-07-26 01:42] RudeBoyEEEE commented on #81
Redownloaded the software, still had the same problem until I used my own Batoto account. Seems to work fine now!

[2017-07-30 20:48] robert-7 commented on #78
Yes please! Even something along the lines of having each picture saved with a `page` prefix. For example, even something like:

`a000.jpg -> [001] a000.jpg`
`a001.jpg -> [002] a001.jpg`
`a001b.jpg -> [003] a001b.jpg`
`a002.jpg -> [004] a002.jpg`
`dcredit.jpg -> [005] dcredit.jpg`

would be nice to have

[2017-08-01 20:39] JB2448 opened #86 "Sunday Webry uses PUBLUS Reader to encrypt manga pages. Can support for it be added?"
https://www.sunday-webry.com, an online manga service that posts new chapters of series like Pokémon Special, just went into maintenance to upgrade its reading software to https://gl.access-company.com/products/dpub/publus_reader/ which makes pages scrambled like this when attempting to save them:
![image](https://user-images.githubusercontent.com/20935099/28844438-9a124eb4-76d2-11e7-8595-7bd6901a

[2017-08-04 11:04] MuminekM opened #87 "Search for titles"
Currently to use MangaRipper it is required to input html to download desired manga. Why there isn't implemented "search" function? We could search in all supported sites for given keyword and return matching list with urls. Then user could select one url.

I've managed to develop function that is doing this for mangahere. Note it's just ugly prototype:

![image](https://user-images.githubusercont

[2017-08-04 11:09] MuminekM commented on #40
Another late reply - you can use Kindle Comic Converter to convert downloaded manga by MangaRipper to format supported by Kindle (cbz, mobi).

[2017-08-04 11:49] MuminekM commented on #87
Or in order to not 'overclutter' GUI URL combobox could be used for providing url or keywords. If user will input url then app will execute old function (GetChapters). Otherwise app will search for given keyword through supported sites (using GetTitles function) and will execute GetChapters when user select one of the titles.

[2017-08-05 06:48] Brawlermatrix opened #88 "MangaRipper.Plugin.Kissmanga"
MangaRipper.Plugin.Kissmanga Error
Was working earlier today then stopped responding, also re-downloaded the program and receiving the same error.

[2017-08-05 07:11] #88 closed

[2017-08-11 08:28] juely01 commented on #70
Can somebody teach me where to put the plugin? I can't find it. Noobie here.

Thank you.

[2017-08-11 19:51] JedBurke commented on #70
@juely01 Once you extract the downloaded MangaRipper zip file, you'll see a folder called **Plugins** in the extracted folder. Copy the extracted plugin, MangaRipper.Plugin.ReadComics.dll, to that folder and restart MangaRipper.

However, the [latest](https://github.com/NguyenDanPhuong/MangaRipper/releases/tag/1.0.264) version of MangaRipper comes bundled with the ReadComics.tv plugin.

[2017-08-12 00:09] Huenyan commented on #70
The puglin used to work, but now the site is dead. I'm using http://readcomiconline.to now.

[2017-08-12 01:15] JedBurke commented on #70
@Huenyan I'm a bit hazy since I haven't visited the site after building the plugin. Would you mind confirming if http://readcomics.website is the same site as readcomics.tv just with a different domain?

[2017-08-16 06:01] Huenyan commented on #70
@JedBurke I don't think it's the same.

[2017-08-17 07:09] vomov opened #89 "False virus positive"
According to F-secure, the exe contains Application:W32/Generic.de47c27dd4!Online

[2017-08-17 13:36] JedBurke commented on #70
@Huenyan That's unfortunate, thanks for checking.

[2017-08-25 04:00] juely01 opened #90 "Put plugin in mangaripper"
Can somebody teach me how to put all the new plugin for mangripper. I'm newbee and still not good in programming language.

 Tnx in advance.

[2017-09-02 18:37] AranaGordis commented on #73
Yes please, add readcomiconline!!  I would love if you do that.

[2017-09-03 09:28] BaganLee opened #91 "Mangafox Error"
As the title say when I am trying to download a chapter from the site it gives me this error : https://imgur.com/a/eQowq

[2017-09-04 15:19] JedBurke commented on #91
Jurassic is in use by the KissManga plugin, are you sure you aren't referring to that? Regardless, please upload your log so we can see what's wrong.

[2017-09-05 01:09] BaganLee commented on #91
Can you reminded me where I can find the log files ?

[2017-09-05 11:53] JedBurke commented on #91
Newer versions have a menu item "Locations" on the top left corner. Click that then "Logs". Once Explorer opens, you would be looking for the text file with the date of when the error occurred. (i.e. 2017-09-05.txt)

[2017-09-06 02:05] AlexGZA opened #92 "MangaRipper.Configuration.json not being read?"
KissManga does not work for me and every time I attempt to download something, I get an error saying "Cannot decrypt image URLs". Reading through the FAQ, I realized that I am to get the decrypted keys myself through some simple steps done in Chrome and Notepad. However, after I save and exit the file, I was still unable to get KissManga to work, which puzzled me, because it wasn't a problem with

[2017-09-06 12:26] BaganLee commented on #91
https://pastebin.com/KPvw1Knx This is the logs you ask for.

[2017-09-07 00:20] JedBurke commented on #92
I can't comment on how the Batoto plugin works.

As of the most recent updates, the KissManga plugin does indeed ignore the configuration file as it instead attempts to collect it from the page itself. See issue #46 for more. However, there was a change in the website which broke the implementation.

I've attached a [temporary fix](https://github.com/NguyenDanPhuong/MangaRipper/files/1283077/KM_Up

[2017-09-07 00:23] JedBurke commented on #91
I need the latest one where you tried to download chapters and it failed. Never mind that for now as there was a change in the website which broke the plugin.

I've attached a [temporary fix](https://github.com/NguyenDanPhuong/MangaRipper/files/1283077/KM_Update.zip) for the plugin. Right-click the zip file for 'Properties' and click 'Unblock' if necessary. Finally extract the files into the Manga

[2017-09-07 00:47] BaganLee commented on #91
https://pastebin.com/gpxNET9z It still give my the same error.

[2017-09-07 02:03] JedBurke commented on #91
Was able to download the same chapter of Gangsta with the update. Used the latest version of MangaRipper (v1.0.264) as the base. If it still persists, check if *Plugins/Jurassic.dll* is unblocked as well.

[2017-09-07 02:31] AlexGZA commented on #92
Unfortunately, after downloading the temporary fix, and using it on the latest build of the program, I received the same error message. However, unlike issue #91, other websites such as Mangafox worked just fine. As a non-tech savvy, looking at codes and logs don't ring any bells for me, so all I can hope for now is for the developers to find a solution. Still, you have my thanks for attempting to

[2017-09-07 10:13] JedBurke commented on #92
@AlexGZA It's no problem. For reasons mentioned there, I believe the error is within regards to KissManga and not MangaFox as the title states.

It's both unfortunate and strange that you and @BaganLee aren't receiving any satisfaction. I was able to retrieve a list of the image URLs for *The Devil is a Part-Timer!* and download the full chapter of *Gangsta.* on Windows 10 and 8 respectively. Ther

[2017-09-16 00:24] JedBurke commented on #92
@BaganLee @AlexGZA

Raised my death flag and subsequently fell into the hole with that statement.

All right, after multiple tests, it appears that the pages are served differently or are just different. Sometimes the decryption keys are listed and other times they aren't. When they are listed, they could be split into multiple lines or contained in one. I don't know what triggers it, it *appears*

[2017-09-18 17:49] AlexGZA commented on #92
Thank you very much for revisiting this issue, I have downloaded the updated plugin and to my surprise, it worked! I am not sure of the changes that were made to the files, but I can now confirm that the plugin is working and I am now able to download from KissManga, thank you very much. I cannot express my appreciation enough.

I will still attach my log file for the download in case it may conta

[2017-09-18 17:50] #92 closed

[2017-09-18 23:15] JedBurke commented on #92
I'm glad I could be of assistance and thank you for uploading your log as well.

[2017-09-19 20:15] BaganLee commented on #91
The update you made work for my too. Thanks for the patch

[2017-09-19 20:15] #91 closed

[2017-09-19 20:18] JedBurke commented on #91
No problem, I'm glad you can download again.

[2017-09-26 14:26] martianph opened #94 "Download cancelled! Reason: Could not find a part of the path"
This happens when you select the"Save in Series folder" or even when you type in a wanted folder destination in the "Save Destination" area.
Thing is, the program doesn't create the folders, so it just stops 'cause it doesn't know what to do. I tried creating the folders myself and the errors stopped. I guess what needs to be done it to let the program create new folders by automatically?

Also th

[2017-09-29 14:10] ABtheCoder opened #95 "Mangafox manga no longer downloading"
[2017-09-29.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1344589/2017-09-29.log)
Manga from mangafox just stopped downloading giving me an error about an invalid URL. This happened quite recently as it worked before the 25th for sure. This is rather strange since I don't see any fundamental changes in mangafox or how it works so hopefully, this'll be a quick fix. Thanks

[2017-09-29 21:52] JedBurke commented on #95
They're using the scheme which was used to download the page. Instead of specifying `http://path/to/manga` or `https://path/to/manga` for the chapter, they're using `//path/to/manga`. In other words, if the page was delivered via HTTP the new uri will be requested with HTTP. Browsers can infer the scheme, that's why it isn't an issue there. The URI constructor (used in MangaRipper) (probably) cann

[2017-09-29 23:22] JedBurke commented on #94
I'm not the main developer, but the one who implemented the "Save in Series folder" feature. Admittedly, I never contemplated the creation of the CBZ file or more specifically, the existence of its directory, when implementing the option. Quitting on a non-existent directory is indeed the case.

[2017-09-29 23:30] iYatsumi commented on #95
![image](https://user-images.githubusercontent.com/8799430/31039550-2a4145f4-a544-11e7-8868-9c23d9984756.png)

i dont know what you mean by that but all my links are with http:

[2017-09-29 23:47] JedBurke commented on #95
The MangaFox page which lists the series' chapters no longer uses a scheme. You will see it when viewing the page's source or inspecting an element.

![capture](https://user-images.githubusercontent.com/6389344/31039699-17b8fefe-a580-11e7-92fd-ee29b419bda8.PNG)

Notice the value belonging to `href` in the highlighted section starting with `//mangafox.me` and not `http://mangafox.me`. Copying the c

[2017-09-30 00:30] JedBurke commented on #95
@iYatsumi

Yes, the error seen with KissManga is indeed another issue. Please see closed issues 91 and 92 for more information. The currently open pull request is expected to address it.

I've also checked your log where similarly to ABtheCoder's log, the following line appears before the exception:
[code]

[2017-09-30 13:07] iYatsumi commented on #95
you mean like this or ?

![image](https://user-images.githubusercontent.com/8799430/31046000-49446356-a5b6-11e7-8d0d-43f714ceb168.png)

because i dont quite understand what you are trying to refer at, i get that you inspected the page and that manga doesnt use the http thing anymore but what exactly it is that you want me to do about it ? If you could guide me it would be appreciated.

[2017-09-30 17:31] JedBurke commented on #95
No. MangaRipper downloads the HTML of the chapter list where the links to individual chapters have the scheme (http:) removed and later tries to parse them. It's done automatically, you'll need to fix it in the application.

My thought for a solution is that the application is to insert the scheme after the chapter list has been downloaded but before the chapter itself begins downloading. Please s

[2017-09-30 19:21] Dichter68 commented on #95
MangaRipper stopped downloading from Mangahere too. Every time I try to get the chapters I get an error:
![error](https://user-images.githubusercontent.com/25414685/31048777-2508cefe-a625-11e7-8cb7-8cd2eb01fda1.jpg)
Is it the same or a similar problem MangaRipper has with mangafox?

[2017-09-30 19:59] JedBurke commented on #95
@Dichter68 MangaHere is doing the same as MangaFox when listing chapters on its website.

[2017-10-01 11:58] moax101 commented on #39
![image](https://user-images.githubusercontent.com/32432153/31054320-2909a286-a665-11e7-936f-101a10787812.png)
please how to fix this

[2017-10-01 18:22] JedBurke commented on #39
@moax101 Please see issue #95

[2017-10-01 18:32] JedBurke commented on #95
For those wanting to download from MangaFox and MangaHere, the following is a temporary fix:

Please [download](https://github.com/NguyenDanPhuong/MangaRipper/files/1347403/Plugins.zip) the zip file, [unblock](https://github.com/NguyenDanPhuong/MangaRipper/wiki/F.A.Q.#cannot-start-mangaripper-the-log-file-shows-nothing) ([alt](https://github.com/NguyenDanPhuong/MangaRipper/issues/50#issuecomment-2

[2017-10-01 20:10] iYatsumi commented on #95
![image](https://user-images.githubusercontent.com/8799430/31058517-8e5003ce-a6ba-11e7-955e-c6680688c6ff.png)

this is what i get after extracting your .dll into the plugins folder.

[2017-10-01.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1347465/2017-10-01.log)

[2017-10-01 22:20] JedBurke commented on #95
@iYatsumi Sorry about that. See my previous post for the updated link.

[2017-10-01 22:37] iYatsumi commented on #95
it still gives me the same error

[2017-10-01 23:51] JedBurke commented on #95
@iYatsumi The link's been updated again.

[2017-10-02 01:47] iYatsumi commented on #95
tyvm it worked

[2017-10-02 02:00] JedBurke commented on #95
No problem. I once again apologize for the back and forth.

[2017-10-06 10:03] moax101 commented on #95
How to solve this problem? is easiest way?
![image](https://user-images.githubusercontent.com/32432153/31273296-d7dadd1c-aa42-11e7-9999-f7ff4c3fff83.png)

[2017-10-06 10:39] JedBurke commented on #95
@moax101 In the meantime, follow the instructions in my comment a little bit up. There is a zip file you must download and extract.

https://github.com/NguyenDanPhuong/MangaRipper/issues/95#issuecomment-333396599

[2017-10-06 11:25] moax101 commented on #95
@JedBurke im very sorry dude but i cant keep up
what zip file to download?

[2017-10-06 11:58] moax101 commented on #95
im not so good in this kind of problem sorry

[2017-10-06 15:27] JedBurke commented on #95
@moax101 No worries.

[Download](https://github.com/NguyenDanPhuong/MangaRipper/files/1347642/Plugins.zip) this one. Right-click the file and "Properties". Click unblock.

![unblock](https://user-images.githubusercontent.com/6389344/31284941-fbc5c45a-aaf4-11e7-9a30-b27b78834c1a.JPG)

Open the zip file, double-click "Plugins", and copy the files into to your MangaRipper Plugins directory.

![extrac

[2017-10-06 23:57] moax101 commented on #95
ok thanks @JedBurke

[2017-10-08 14:20] eksynn opened #97 "Mangahere and Mangafox no-longer working."
Mangafox.me gives the error: http://prntscr.com/gurshy after successfully getting the chapters and clicking 'start download'.
Mangahere gives the error: http://prntscr.com/gurqqh upon getting the chapters. I can, indeed, see that the online content works. The application then needs to be restarted in order for it to work again.

[2017-10-08 14:29] eksynn commented on #97
temporary patch on issue #95 seems to be working.
https://github.com/NguyenDanPhuong/MangaRipper/issues/95

[2017-10-08 14:32] eksynn opened #98 "[Request] Save in root folder"
This option would allow the application to save manga directly to the save destination without creating new subfolders. To avoid conflict, however, the file naming pattern would change by adding the chapter name to the name of each page. (or something xD)
(makes for more immersive, faster reading.)

[2017-10-08 14:33] #97 closed

[2017-10-08 14:35] eksynn commented on #95
the temporary patch worked for me too ^^
case closed! (?)

[2017-10-08 17:21] pszegryf commented on #72
Same issue but have windows 7.

[2017-10-15 14:47] seiaxen commented on #95
Heya guys, to let you know, I follow the lastest comment by Jed in here, the error code is different. Could you guys help me? Thanks
![hmmm](https://user-images.githubusercontent.com/28289533/31585821-725964ec-b1f2-11e7-8faf-3c6eeb55229b.png)

[2017-10-15 16:01] JedBurke commented on #95
@seiaxen Are you using version 1.0.264? Also please upload your log.

[2017-10-16 05:56] seiaxen commented on #95
@JedBurke The one showing that error is the prev version (1.0.225) . When I paste the plugin files and unblocking via powershell, it still showing the parse error at MangaRipper.Core . And now I'm trying using my working pc (the previos post is on my personal one), after following this [web](https://blogs.technet.microsoft.com/heyscriptingguy/2012/09/14/easily-unblock-all-files-in-a-directory-usin

[2017-10-16 17:19] JedBurke commented on #95
@seiaxen

Sorry for the late response, I'm glad you got it working.

I'll try answering some of your previous questions.

The reason it works after unblocking it is because Windows tries to protect you from viruses by limiting what certain applications (which have been downloaded from the Internet) can do. If the plugin is blocked, it can't do its job nor can MangaRipper if it is also blocked.

If

[2017-10-20 02:08] eksynn opened #100 "MangaKiss not working."
pop-up error:
MangaRipper.Plugin.KissManga
Cannot decrypt image URIs.

[2017-10-21 01:10] 0xh3LL0 commented on #80
idk if this will solve you problem, but if you prefer CLI you can use [manga_downloader](https://github.com/jiaweihli/manga_downloader) instaed

[2017-10-22 23:12] EZarnosky opened #101 "MangaHere.co broken - Parse content failed!"
When I try to get the chapters I receive the error:

[code]
This works on other sites that use, just not MangaHere

[2017-10-31 08:14] oosap opened #102 "ReferenceError: alert is not defined"
Receiving this message when trying to download "Made in Abyss" from kissmanga. Any help would be great.

url: http://kissmanga.com/Manga/Made-in-Abyss

[2017-11-03 14:20] Fucknuts commented on #101
Could it be due to Google flagging the site as "Deceptive"?

[2017-11-04 04:35] EZarnosky commented on #101
I don't think so.  I can browse the site fine in chrome.

On Nov 3, 2017 10:20, "Fucknuts" <notifications@github.com> wrote:

[2017-11-11 11:14] eksynn commented on #102
same, but with onepunch-man - oddly enough, it managed to download the first two chapters from kissmanga lol

here's the error: http://prntscr.com/h91gi3

edit: trying to click "start download" after the error comes up seems to start the download. testing it a second time gave me another error (sorry, forgot to capture it... so i tried again after closing and reopening, got the same ReferenceError

[2017-11-11 19:42] Remixful opened #103 "TypeError: 'CryptoJS.SHA256' is not a function"
Getting the error "TypeError: 'CryptoJS.SHA256' is not a function" when downloading from KissManga.
Manga link: http://kissmanga.com/Manga/Liar-Game/

Restarting the download fixes it but it still appears from time to time. A retry download option would be nice maybe.

[2017-11-13 12:05] eksynn opened #104 "[Request] Custom Plugins"
can you make it easy to create our own plugins? instead of DLLs, maybe ini or another easily-editable file format, or something.
it would make it easier for the user to fix things without having to wait for the app to be updated, as well as to allow users to share plugins for specific websites...

thanks in advance! i really hope this gets implemented.

[2017-11-13 18:45] tush124 opened #105 "URI issue with mangafox."
[2017-11-14.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1468073/2017-11-14.log)

[2017-11-13 21:18] grumbleGB opened #106 "Invalid URI, must be absolute URI or Base Address must be set?"
[2017-11-13.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1468650/2017-11-13.log)
![error](https://user-images.githubusercontent.com/33639686/32749742-29a26802-c8b8-11e7-8b22-c77c636253d5.PNG)

[2017-12-05 21:06] Zirkulator opened #108 "All Websites, except one, do not work anymore!"
**All tested with Version 1.0.264.
Tried to get ''Blood Lad'' Manga Chapters 66-70 from all of the pages.**

batoto.to:
Page needs User-Registration

mangafox.me:
[System.Net.Http]
Invalid Url

mangahere.co:
Parse content failed! Please check...
[Manga Ripper Core]

kissmanga.com:
Download cancelled! Reason: Cannot decrypt image URIs.

mangareader.net:
works mostly well (for gods sake...)

mangast

[2017-12-06 13:34] moax101 commented on #95
i cant download again in mangafox
![image](https://user-images.githubusercontent.com/32432153/33664061-1ab944b4-da47-11e7-9991-40a6e1b348ac.png)
its happening again

[2017-12-06 13:34] moax101 commented on #95
please help me

[2017-12-06 16:54] GambitKZ commented on #108
Well, you really need to have an account in Bato.to for downloads. Paste it into "MangaRipper.Configuration.json" file:
![image](https://user-images.githubusercontent.com/17333840/33673333-a5fe028c-dad6-11e7-8178-2977efa5c87a.png)
![image](https://user-images.githubusercontent.com/17333840/33673374-bfa4e642-dad6-11e7-9091-1f60cb0d472a.png)

I can't open "mangafox.me", instead I have been redirecte

[2017-12-06 16:58] GambitKZ commented on #106
Ah, I do remember something like that. They had the address like "~/manganame/bla-bla". But I thought that we have fixed that. I will try to take a look on weekends.

[2017-12-06 16:59] GambitKZ commented on #105
Looks like it's the same as #106

[2017-12-06 17:21] GambitKZ commented on #101
#108

[2017-12-06 17:26] GambitKZ commented on #90
I believe copy/paste will more or less work here. All unnecessary staff we will point you during Pull Request

[2017-12-06 17:32] GambitKZ commented on #89
Have you tried other Antiviruses? For example - https://virusdesk.kaspersky.com/
![image](https://user-images.githubusercontent.com/17333840/33675658-7fead9ce-dadd-11e7-868d-a14db42cd0cf.png)

But asking this kind of questions in the project with open code - quite a joke.
I believe we can close this issue.

[2017-12-06 17:35] GambitKZ commented on #87
Looks like you have dropped your work on it :(.

[2017-12-06 17:41] GambitKZ commented on #86
I don't think anyone will even consider to add it. First of all, the website is completely in Japanese, Only this makes the work with it damn hard. And you mentioned some encryption? Grate, it just became much harder.
So sorry, but I think you need to try some another downloader.

[2017-12-06 17:42] GambitKZ commented on #84
How about adding more info, with logs and screenshots?

[2017-12-06 17:43] GambitKZ commented on #82
I believe, the answer is "No".

[2017-12-06 20:17] lozowojo commented on #95
The site logged me out of my account and i can't connect anymore even tho i still have my username and password help me please. Btw the site changed from mangafox.me to mangafox.la does it change something ?

[2017-12-07 02:16] DanteLucis opened #109 "Manga fox changed their URL"
Old: mangafox.me
New: mangafox.la
[2017-02-13.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1537571/2017-02-13.log)

[2017-12-07 06:53] vomov commented on #89
Nobody asked a question; I just noticed F-secure was being annoying (as usual), and thought I'd note it down, so non-technical individuals would be able to find it under the heading 'false positive' and calm down.

[2017-12-07 13:02] moax101 commented on #109
Any News how to download in mangafox again?

[2017-12-07 15:05] NguyenDanPhuong commented on #109
I've fixed it. Please check the latest version :)

[2017-12-07 15:05] #109 closed

[2017-12-07 15:06] NguyenDanPhuong commented on #108
I've fixed all but KissManga. Please check the latest version :)

[2017-12-07 15:06] #108 closed

[2017-12-07 15:06] NguyenDanPhuong commented on #105
Yup. It's fixed

[2017-12-07 15:06] #105 closed

[2017-12-07 15:07] NguyenDanPhuong commented on #104
It's nice to have but I don't know how to make it because as @GambitKZ said. Every sites are different

[2017-12-07 15:08] NguyenDanPhuong commented on #101
It fixed. :)

[2017-12-07 15:08] #101 closed

[2017-12-07 15:08] #95 closed

[2017-12-07 15:09] #81 closed

[2017-12-07 15:10] #90 closed

[2017-12-07 15:12] NguyenDanPhuong commented on #75
It the network related stuff, I cannot do anything about this.

[2017-12-07 15:12] #75 closed

[2017-12-07 15:12] #40 closed

[2017-12-07 15:13] #3 closed

[2017-12-07 15:13] #43 closed

[2017-12-07 15:13] #53 closed

[2017-12-07 15:14] #89 closed

[2017-12-07 15:15] #106 closed

[2017-12-07 18:31] GambitKZ commented on #100
Could you provide more info. Address of the manga, logs.

[2017-12-07 19:01] GambitKZ commented on #64
I see a number of issues regarding KissManga. However, I haven't seen any of this errors myself.
I have tried all the links which were provided in  #103 and #102. It downloaded smoothly.
@JedBurke @NguyenDanPhuong HAve you received the errors with KissManga?

[2017-12-07 21:39] moax101 commented on #109
Where?

On Dec 7, 2017 11:07 PM, "NguyenDanPhuong" <notifications@github.com> wrote:

[2017-12-08 06:09] NguyenDanPhuong commented on #64
@GambitKZ: I don't see any error. But let's continous monitor it.

[2017-12-08 06:09] #64 closed

[2017-12-08 06:09] NguyenDanPhuong commented on #103
Tested and work fine.

[2017-12-08 06:09] #103 closed

[2017-12-08 06:09] NguyenDanPhuong commented on #102
Tested and work fine.

[2017-12-08 06:09] #102 closed

[2017-12-08 06:16] NguyenDanPhuong commented on #80
Yes, it's possible, the component already separated. It needs to create a new CLI project and parse parameter then call the existing component. But I quite lack of time, if any one interested in this. Please go ahead and create pull request.

[2017-12-08 06:20] NguyenDanPhuong commented on #86
It can be done. But this is just my hobby project, I cannot spend much time and keeping add support for new site. But if you know programming and want to support it. You're welcome to create a pull request. :)

[2017-12-08 09:37] MuminekM commented on #87
I've decided to wait for any kind of feedback if this feature would be useful. I have some updated code on my PC but I need to revise it first (probably next week).

My solution add some function to core and then to specific sites plugins (because every site require bit different way to search by titles..usually it's scrapping the page similiar to one from manga download functions).

[2017-12-10 01:31] canwenot opened #111 "Mangaripper.core"
I am having an issue and cannot find an answer already available and cannot figure this out myself, I am not very techy but i love manga, so please help me!

![this is annoying](https://user-images.githubusercontent.com/34407830/33801151-640cfaea-dd06-11e7-9d42-c3327ad81feb.png)

when ever i try any url this is what i get,  I unpack the folder from the original zip to a folder just inside my user

[2017-12-10 08:01] GambitKZ commented on #111
Heh, looks like the title and Description are switched.
The issue here is "m." in the URL, never heard that they have the site for the mobile version.
Oh, and you paste the chapter page instead of root URL. Try again with the "http://mangafox.la/manga/maou_no_hajimekata/" URL.

[2017-12-10 09:01] canwenot commented on #111
.................................................................................well that m. seems to have the issue, or not?

Sooooooooooo: this link takes me to a no content page: http://mangafox.la/manga/maou_no_hajimekata/v01/c001/
but this one is a fully functional link with all pages: http://m.mangafox.la/manga/maou_no_hajimekata/v01/c001/1.html
Can we get a patch? fast? if this works all t

[2017-12-10 09:09] GambitKZ commented on #111
Yes, it is.

Anyway, it's just ONE chapter. MangaRipper working with the WHOLE series.

Why should we do it, if it's working perfectly fine? Have you even tried the link which I have provided above? Here is the result:
![image](https://user-images.githubusercontent.com/17333840/33803492-1392a572-ddbc-11e7-99de-2f4226bc7db8.png)

[2017-12-10 19:43] canwenot commented on #111
.................................................................................well that m. seems to have the issue, or not?

Sooooooooooo: this link takes me to a no content page: http://mangafox.la/manga/maou_no_hajimekata/v01/c001/
but this one is a fully functional link with all pages: http://m.mangafox.la/manga/maou_no_hajimekata/v01/c001/1.html
Can we get a patch? fast? if this works all t

[2017-12-10 19:48] canwenot commented on #111
you didn't try to download the chapters did you? it doesn't work. and if you go to the site with out the .m they dont show up, it shows a dead end message, I figured that it was a site that was hiding its data in a sub of the primary so any one going in for legal complaints would find it gone and leave them be, all the while the content fully accessible via the alternate section of m.
So, can we p

[2017-12-10 20:12] GambitKZ commented on #111
I have done it two times just to test it.  And they downloaded perfectly.  Even my previous screen shows the progress of downloading.

In my case, it shows the notification where all you need to do is to press "Please click here to continue reading."
![image](https://user-images.githubusercontent.com/17333840/33808906-1dfb16a0-de18-11e7-8cef-7fecdabfc629.png)
Maybe the WebSite is blocked in your c

[2017-12-10 20:47] canwenot commented on #111
Ok then I dont know whats wrong!
"Parse Content failed! Please check if you can access this content on your browser"
that's the error message i get when i try to download it with out the m. but with it i get the mangaripper.core message, so now what do i do?
I have a guess, that the file isn't supposed to be available in my country, is there a way to use a proxy server in conjunction with this pro

[2017-12-14 16:28] BaganLee opened #113 "bato.to error"
I am getting an error when I am trying to download a manga for bato and I have downloaded the last version of the mangaripper
logs ... https://pastebin.com/QeSXvDUv  .... https://pastebin.com/fvrXxQuY ... https://pastebin.com/ZNAWjhUb ... https://pastebin.com/dbvUYP7V

https://imgur.com/a/wiyWS

[2017-12-14 17:41] GambitKZ commented on #113
Have you set your login/password for Batoto into config?

[2017-12-15 00:36] BaganLee commented on #113
Well... no I don't I didn't know that you have to do something like that, how can I set them up ?

[2017-12-15 02:59] GambitKZ commented on #113
Looks like we need to set specific error for this kind of issue.
You need to change them in the "MangaRipper.Configuration.json" file in the root folder
![image](https://user-images.githubusercontent.com/17333840/34024763-38283452-e176-11e7-9110-74d69ff6e5b0.png)

[2017-12-15 10:34] BaganLee commented on #113
Thanks for the help.

[2017-12-15 10:34] #113 closed

[2017-12-19 16:06] seiaxen opened #115 "URL for MangaHere is changed."
Hi,
As the title said, now MangaHere URL is changed from www.mangahere.co to www.mangahere.cc .

Would be glad if you guys update the core for mangahere.

Thanks.

-----
Calling Boss @GambitKZ  and Big Boss @NguyenDanPhuong

[2017-12-22 07:38] NguyenDanPhuong commented on #111
MangaRipper doesn't support proxy but you can use VPN

[2017-12-27 09:57] tirafesi opened #116 "Can't download from any source"
I can't download from any website.

Here are 2 examples with screenshots:

``http://www.mangahere.cc/manga/nanatsu_no_taizai/``

![](https://i.imgur.com/r88WPSo.png)

``http://mangafox.la/manga/nanatsu_no_taizai/``

![](https://i.imgur.com/Bjwbhqw.png)

As you can see, *mangahere* doesn't even fetch the chapter list. Meanwhile, *mangafox*, despite being able to fetch the chapter list, doesn't let

[2017-12-28 07:34] NguyenDanPhuong commented on #115
It's fixed. Thank you for reporting.

[2017-12-28 07:34] #115 closed

[2017-12-28 07:34] NguyenDanPhuong commented on #116
It's fixed. Thank you for reporting.

[2017-12-28 07:34] #116 closed

[2017-12-28 08:58] NguyenDanPhuong commented on #87
@MuminekM: Thank for your feedback.

For every features added I have to pay the price for maintaining them. To keep MangaRipper working, I'm constantly have to change the app to match with the changes from websites. That's why I have to think carefully when add a new feature.

I know, many similar app has this feature. But IMO, the website has more advanced search with many more filters (gender, s

[2017-12-28 10:31] #111 closed

[2017-12-28 10:31] #100 closed

[2017-12-28 10:32] #94 closed

[2017-12-28 10:33] #58 closed

[2017-12-28 10:34] #72 closed

[2017-12-31 05:57] AlexGZA opened #121 "MangaRipper download failed, says virus detected by Windows Defender"
This only happened when I tried to download a newer version of MangaRipper, as I was content with using version 1.0.285, as that was the latest version at the time until I had some issues with downloading. I tried to download the latest version of MangaRipper as of December 30th, 2017, but WindowDefender blocked the download, claiming that a virus was detected. What may be causing this detection?

[2018-01-05 01:41] PrimordialHelios commented on #121
I also have this issue, came here to confirm the bug. Running MR 1.0.317 on Windows 10 version 1709 build 16299.125 gives the error message "The operation could not complete successfully because the file contains a virus or potentially unwanted software".

As a temporary workaround, opening Windows Defender's control panel, clicking "Virus & threat protection", then "Virus & threat protection sett

[2018-01-07 09:28] AccelerateIzaya commented on #121
Same issue here. *~*

[2018-01-08 03:01] NguyenDanPhuong commented on #121
I've submitted the file to Microsoft as false positive. Let's wait for them to update the definition.

https://www.microsoft.com/en-us/wdsi/submission/c93abcd9-77d1-4d94-a641-b56d470b26c8

[2018-01-10 04:33] NguyenDanPhuong commented on #121
No longer happened for me. :)

[2018-01-10 04:34] #84 closed

[2018-01-10 04:34] #121 closed

[2018-01-10 14:38] DanteLucis opened #122 "Cannot find html node by inputed xpath"
[2018-01-10.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1619219/2018-01-10.log)

[2018-01-10 21:29] fusiongt commented on #122
Yes I'm getting this too trying to pull any series from kissmanga

[2018-01-12 13:18] NguyenDanPhuong commented on #122
It fixed. Enjoy :)

[2018-01-12 13:18] #122 closed

[2018-01-19 10:26] eksynn opened #124 "Bato.to Closing Down Permanently"
just thought this should be brought up before it happens - if it hasn't already. just in case you're wondering why it suddenly stops working.
source: https://bato.to/forums/topic/28840-batoto-will-be-closing-permanently/

edit: probably old news though, as i just realised there's a new version that removes bato.to from its list xD

[2018-01-24 05:07] iYatsumi opened #125 "Unable to download from mangafox"
[2018-01-24.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1658655/2018-01-24.log)
![image](https://user-images.githubusercontent.com/8799430/35315442-70779a8a-009a-11e8-90a6-a4b0632cd9d9.png)

Using latest version.
Website works on browser: http://mangafox.la/manga/onepunch_man

Though it seems to work fine with other mangas and nvm just realized what the error was.

[2018-01-24 05:15] #125 closed

[2018-02-01 21:58] Blaithnaid opened #127 "Certain manga glitched"
When I tried to download Boku No Hero Academia chapter 1 from KissManga all that was downloaded was a file named "P.txt", filled with garbage text. When I tried another manga (Tengen Toppen Gurren Lagann, manga adaption) from the same website it downloaded just fine. Any help?

[2018-02-08 13:02] MluffyDD opened #128 "Request"
Hello, can you add (**MangaNelo**), please!

[2018-02-08 21:41] Danatobob commented on #127
This might be fixed in newer releases. Have a look here for some info:
https://github.com/NguyenDanPhuong/MangaRipper/pull/126

[2018-02-08 22:02] Danatobob opened #130 "Should the program really stop if it encounters problems with specific image ?"
Right now, for example, if there is a bad image url (which causes exception) at the end of the chapter the program would discard everything it downloaded for that chapter (it remains in temporary folder) and abort the download process. If something went wrong with plugin/application I'd rather have incomplete chapter and manually download missing images (if they really are downloadable) than not h

[2018-02-17 02:22] anhxtaiii opened #131 "Mangafox new host name"
thought you should know that mangafox changed their domain once again thus making mangafox.la not available to download any manga from their new site.

They are now using Fanfox.net

[2018-02-17 16:32] GambitKZ commented on #124
b.t.w. The link redirected me to the "bato.to" website which is up and running.
Are we 100% sure that it will be closed?

[2018-02-17 16:40] GambitKZ commented on #130
And what if other chapters in the queue will get the errors and you have a lot of empty folders (or folders with 2-3 pages).
However, I completely agree that if you have a situation when you get the one error page each 10-20 chapter when the current behavior is annoying.

We need to get some kind of compromise here.
Your idea with the file is not bad, but I think we need to add an additional condi

[2018-02-17 16:48] GambitKZ commented on #67
I think there are a lot of software which can route traffic via VPN and proxy.
Is there a point in implement it here?

[2018-02-17 18:18] Danatobob commented on #130
Well, we are still screwed if the plugin doesn't work well for that site, so either we get nothing at all and close the program or get something that it was able to download and manually try to get the rest. I'm mainly looking at it from the user's standpoint. We can't fix the program by using it's UI and so we are helpless if it throws an error. The main point of this program, as I see it, is aut

[2018-02-24 10:09] eksynn commented on #124
here's an archived post: https://web.archive.org/web/20180122102239/https://bato.to/forums/topic/28840-batoto-will-be-closing-permanently/

the first post, in specific:

[2018-02-27 22:36] eksynn opened #132 "SSL/TLS Unhandled Exception [Ignorable?]"
I'm getting an error when i launch mangaripper...

https://pastebin.com/raw/f6xxMCzL

i can then either click continue (which just continues on) or quit, which immediately closes the app

please advise?

[2018-03-02 03:43] NguyenDanPhuong commented on #131
When I go to Fanfox.net, it redirects me to http://mangazoneapp.com/ Is there any one can access the site help us to change the url and test it?

[2018-03-02 18:35] eksynn opened #133 ""The specified path, file name, or both are too long.""
Error: "Download cancelled! Reason: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters."

Could we have that character limit increased, please? To... say... unlimited?
Some chapters in kissmanga have REALLY REALLY long names and there's not much i can do about it since it names

[2018-03-03 23:28] moax101 commented on #127
im having the same problem here, when it will fix?

[2018-03-05 03:37] #124 closed

[2018-03-07 20:56] TristisOris commented on #131
http://mangafox.be it's the same, as i can see.
can't download anyhing too.

[2018-03-08 06:02] iYatsumi commented on #131
Works fine to me when i tried to access Fanfox.net as you can see

![image](https://user-images.githubusercontent.com/8799430/37135677-62dd9264-226c-11e8-9ee8-6a54ff0a0a08.png)

[2018-03-08 06:05] iYatsumi commented on #132
im getting the same error

![image](https://user-images.githubusercontent.com/8799430/37135733-a9379e08-226c-11e8-9fee-88745a829eb7.png)

Here's the log:
[2018-03-08.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1791995/2018-03-08.log)

[2018-03-09 00:41] BaganLee commented on #132
I am getting the same error too
[https://imgur.com/a/XtwtY](url)
Logs : https://pastebin.com/raw/655DWQ5w

[2018-03-17 12:54] moax101 opened #134 "kissmanga can't download"
it says Clearance failed after 4 attempt(s)
please fix this ASAP( if you are free if not it is ok if it take to long)

[2018-03-20 02:27] anhxtaiii commented on #134
Please provide the log and a screenshot if possible. It would also be helpful to tell us which version you are using as for now, There is a common issue going on with the latest version. And the last time i used kissmanga it was working fine for me.

![image](https://user-images.githubusercontent.com/8799430/37632450-98df6c3c-2bc4-11e8-8f21-c8c222f591fc.png)

[2018-03-20 02:28] anhxtaiii commented on #133
Could you provide us with the log and tell me which mangas has over 260 characters in their name because i've never heard of such things. That's basically a paragraph.

[2018-03-20 11:42] moax101 commented on #134
yes i will appear after i run the app, so please fix it

[2018-03-23 08:37] GambitKZ commented on #134
Yep, got the same "Clearance failed after 4 attempt(s)" error.
Update https://github.com/elcattivo/CloudFlareUtilities package to v1.1.0. But it didn't help.

[2018-03-30 02:50] TromboneFreak commented on #132
Same issue, here. 1.0.321

[2018-03-29.log](https://github.com/NguyenDanPhuong/MangaRipper/files/1862538/2018-03-29.log)

[2018-04-09 14:25] xthephreakx commented on #132
is there a know work around for this ?

[2018-04-09 16:52] GambitKZ commented on #132
Sorry guys. Never got this kind of error.
The only useful information is in the @TromboneFreak  logs:
[code]

But I don't think it's the main reason here.

[2018-04-09 17:00] xthephreakx commented on #132
I thought it might have something to do with windows updates. But did a clean install of windows 10 in a VM with no updates same error. Tried and older and a newer version.

Does de application use any cerificates ? Could be due to an expired certificate because the complain is about ssl/stl

[2018-04-09 17:30] GambitKZ commented on #132
No, nothing of the sort.

Do you mean you also have "System.IO.FileNotFoundException" or it's just a log without an error?

[2018-04-09 17:53] xthephreakx commented on #132
yes thats what i mean:
| ERROR | ApplicationConfiguration | System.IO.FileNotFoundException: Could not find file 'C:\Users\Administrator\AppData\Roaming\MangaRipper\Data\CommonSettings.json'.

| ERROR | ApplicationConfiguration | System.IO.FileNotFoundException: Could not find file 'C:\Users\Administrator\AppData\Roaming\MangaRipper\Data\DownloadChapterTasks.json'.

both files exist in the Data fo

[2018-04-09 18:00] GambitKZ commented on #132
And "Run as Admin" also didn't help?

[2018-04-09 18:38] xthephreakx commented on #132
tried that first also disableing antivirus and firewall

[2018-04-09 18:56] GambitKZ commented on #132
btw. what is shown if you press the "Details" button?

[2018-04-09 18:57] xthephreakx commented on #132
[details.txt](https://github.com/NguyenDanPhuong/MangaRipper/files/1891354/details.txt)

[2018-04-09 19:06] GambitKZ commented on #132
![image](https://user-images.githubusercontent.com/17333840/38517307-5be26d32-3c5b-11e8-9ad8-1dda279f4e47.png)

Maybe this part at blame here?

[2018-04-10 05:51] xthephreakx commented on #132
could be i will edit it to see what it does

[2018-04-10 06:27] xthephreakx commented on #132
could it be a .net issue ?

[2018-04-10 15:25] GambitKZ commented on #132
@xthephreakx

I have no idea. It never worked, or it's just stopped suddenly?

Maybe you should install free VisualStudio Community - https://www.visualstudio.com/downloads/
Download the SourceCode:
![image](https://user-images.githubusercontent.com/17333840/38566183-e4acf8ae-3d04-11e8-8696-3f445801855c.png)

Open it in VisualStudio and press "Start"
![image](https://user-images.githubusercontent.

[2018-04-10 16:01] xthephreakx commented on #132
Main pc windows 10 worked until yesterday but haven’t used it since January.

Thought it was windows updates so did a clean install of windows 10 same issue. Then tried a windows 7 machine which didn’t work either. So I was able to reproduce on 2 other machines.

Will try your method but that will be tomorrow as I don’t have time tonight

[2018-04-11 15:50] GambitKZ commented on #132
Well, this is a known issue - #134

In theory, everything should be simple. Just in case - step by step instruction:
1. Open Solution
2. Right click on Solution -> Restore NuGet Package
3. Right click on Solution -> Build Solution
![image](https://user-images.githubusercontent.com/17333840/38627859-c7931c1c-3dd1-11e8-8aec-a572d41798b1.png)
4.  Right click on "MangaRipper" project -> "Set as StartU

[2018-04-11 18:01] GambitKZ commented on #134
Ok, looks like it will be fixed in the new version of the package:
https://github.com/elcattivo/CloudFlareUtilities/issues/30

[2018-04-11 18:10] GambitKZ commented on #134
The current version (v1.2.0) gives fewer errors but still has them.

[2018-04-16 06:58] NguyenDanPhuong commented on #133
Can you give us the link to the chapter with long filename. So we can work on choosing the best solution, not just implement on a given solution then later discover it's not good.

[2018-04-23 07:03] xthephreakx commented on #132
been trying to get it to work but no succes unfortunatly ...

have you been able to replicate te issue ?

[2018-04-23 16:29] GambitKZ commented on #132
@xthephreakx
Unfortunately no.
But hey, if you have an issue with the access to "C:\Users\Administrator\AppData\" folder, how about putting the data into the root folder.
Could you please test this option:
[Debug.zip](https://github.com/NguyenDanPhuong/MangaRipper/files/1939151/Debug.zip)

[2018-04-24 06:38] xthephreakx commented on #132
oke tried that no error message lik epreviously

now i get a "clearance failed agter 4 attempts" popup message
Download Canccelled! Reason: clearance failed agter 4 attempts

![image](https://user-images.githubusercontent.com/5319954/39170169-d836cbc2-479a-11e8-9d22-fd8602644670.png)

[2018-04-24 15:56] GambitKZ commented on #132
@xthephreakx
Woah, Woah. Hold your horses.

First of all, looks like the issue was with access to the "'C:\Users\Administrator\AppData\Roaming\MangaRipper\Data\" folder. I believe if you create a new windows user and run the original MangaRipper under this user - you will not get an error.

Second:
I have already mentioned the "clearance failed after 4 attempts" error two posts ago.
It's an error

[2018-04-26 17:18] vampjoseph opened #136 "MangaFox has changed their URL again"
The URL mangafox.la redirects to fanfox.net

[2018-04-26 18:44] GambitKZ commented on #136
Also noticed this, and change it in #135

[2018-04-30 18:31] GambitKZ commented on #134
Duh, because CloudFlare didn't fix all cases. I have put the link above.

[2018-05-01 03:02] moax101 commented on #134
what link?

On Mon, Apr 30, 2018 at 11:31 AM, GambitKZ <notifications@github.com> wrote:

[2018-05-01 16:48] GambitKZ commented on #134
This link

[2018-05-03 03:47] NguyenDanPhuong commented on #131
I've fixed this in latest release. Thanks for report.

[2018-05-03 03:47] #131 closed

[2018-05-03 03:47] NguyenDanPhuong commented on #136
I've fixed this in latest release. Thanks for report.

[2018-05-03 03:48] #136 closed

[2018-05-03 18:41] GambitKZ opened #138 "Lack of communication?"
I try not to make a lot of changes in the architecture because I don't know what kind of vision do you have regarding the affected code and how I broke the whole project out of the course with it.
There are also were some cases when I try to implement some kind of feature, and on the next day, I found that the core code SUDDENLY was changed. It's not a bad thing by itself, it should be updated. Bu

[2018-05-07 03:09] NguyenDanPhuong commented on #138
Hi @GambitKZ

I agree that there's problem. But mostly due to this project is not my daily task. I've checking it about 1 per week or, sometime, month. If I communicate daily, it wouldn't a problem.

Currently, MangaRipper has a good software design, with all the features and supported sites. The code still easy to read, understand and navigate. I plan to keep it that way.

When you implement some

[2018-06-05 20:09] CreeperLava commented on #134
I get this error every few chapters. Any news on a fix ?

[2018-06-17 11:59] GambitKZ commented on #138
Hi @NguyenDanPhuong

Yep, that was my blunder. I have tried to do everything in one swoop with thoughts that it will be merged together.

Ok, it's the time of implementation. However, Idea itself set in your head much earlier than this. And this is the part which I want you to share with us. e.g. "Guys, I want to implement 'IoC' soon, stay tuned".

Others didn't write anything here, so I can assum

[2018-06-17 12:30] GambitKZ commented on #132
Ok, looks like I also get this error.
I have downloaded the latest version, unzip it and execute the "exe" file.

The problem was in  the logic which checking the latest version from the GitHub:
![image](https://user-images.githubusercontent.com/17333840/41507833-627f6cbc-725c-11e8-87c7-fdc85a7413a6.png)

I never encounter it before, because I used the files which I build myself.

[2018-06-19 10:13] xthephreakx commented on #132
well i'm glad you could reproduce the issue !

will be waiting for a fix :D

[2018-06-24 11:10] GambitKZ commented on #134
You can check the link which I provide above.

[2018-06-24 13:27] moax101 commented on #134
Ohh so bad

On Jun 24, 2018 9:26 PM, "GambitKZ" <notifications@github.com> wrote:

[2018-07-10 12:12] ArchmageVengard opened #140 "Could not load file or assembly 'MangaRipper.Plugin.KissManga"
Sorry if this issue was already addressed, I'm new to this site and I'm bad at looking for threads
Here's the log file : https://ibb.co/hFJQgo

[2018-07-17 23:22] JedBurke commented on #104
@eksynn I had a similar idea a while back, users would be able to direct how the application runs with a configuration file. But I was stuck on which format to use. Both JSON and XML can't store regex patterns without escaping them. It makes it hard to read especially for beginners and non-programmers. Besides for arrays, I'm happy to say the INI format works nicely for the job.

Thanks for mentio

[2018-08-05 14:52] GambitKZ commented on #134
Looks like someone found a possible fix for this issue in original package.
Meanwhile, I have written some code which re-uses the cookies.
If you get the correct cookies even once, it will be used for all other requests. Till you close the program of course.

[2018-08-05 14:54] GambitKZ commented on #140
Maybe it's due to old .Net Framework version?

[2018-08-05 14:55] #138 closed

[2018-08-05 15:30] ArchmageVengard commented on #140
Tried that, now it won't start at all xD

[2018-08-06 02:12] GambitKZ commented on #140
It should be working with ".Net Framework v4.5.2".
Which version do you have?

[2018-10-04 18:27] eksynn commented on #133
i finished reading that specific manga online - it was To Love Ru Darkness, and "Kasouba no Nai Machi ni Kane ga Naru Toki (When the bell rings in a town without a crematorium)"
(that's literally the name of the manga xD the folder also had that () stuff in it.. plus each chapter is also named really long)

so it's less that the title is long, but that, combined with the target folder where the pa

[2018-10-20 14:41] GambitKZ commented on #134
[Debug.zip](https://github.com/NguyenDanPhuong/MangaRipper/files/2498233/Debug.zip)
For now, try to replace the Core.dll

[2018-10-20 18:55] eksynn opened #142 "[Question] Discord?"
do we have an official discord server?

[2018-10-23 03:29] anhxtaiii commented on #134
Would be helpful to see what kind of errors you get and to upload the log for someone to see whats the problem.

[2018-10-23 23:28] anhxtaiii commented on #142
There hasn't been one since the day I started following this page but it would indeed be handy to have one but the creator is currently busy i guess.

[2018-10-31 17:10] GambitKZ commented on #134
Sorry dude.
Build it as debug.
[Debug.zip](https://github.com/NguyenDanPhuong/MangaRipper/files/2535545/Debug.zip)
Take this. It has some unnecessary stuff which I worked on but drops in the middle.
Should be workable though.

[2018-11-25 17:59] kazihorka opened #143 "FanFox (mangaFox) no chapters"
Hi,
as the fanfox (MangaFox) changed their website, no chapters load anymore.

[2018-11-25 19:54] eksynn commented on #143
still hoping for custom links to be released soon lol
oryouknow. any updates at all.

[2018-11-25 21:16] eksynn opened #144 "MangaRipper.Core error"
"One or more errors occurred."

this happens almost every time it tries to download a chapter, either immediately or after a while, and then it stops completely.
usually at 2%.

Please advise?

error screenshot:
https://cdn.discordapp.com/attachments/505147945050439691/516360963050700804/unknown.png
the log:
[2018-11-25.log](https://github.com/NguyenDanPhuong/MangaRipper/files/2613534/2018-11-25.l

[2018-12-25 11:36] Zak10122 commented on #134
When i try to download from kissmanga, i always get this error
![Uploading Capture.PNG…]()

[2019-01-18 19:05] eksynn opened #147 "Version 4.6.2 vs 1.0.342?"
how do i download version 4.6.2? the latest version still leads to the version i have now (v1.0.342)
i'm having so many issues with 1.0.342 that i can't even download more than a handful of chapters a day, basically (exaggerated, but you get it)

[2019-01-18 19:06] eksynn commented on #147
is this project still even being worked on?
are there any alternative manga downloaders out there?

[2019-01-19 00:40] JedBurke commented on #147
@eksynn v4.6.2 is the Microsoft .NET Framework version not the MangaRipper version.

[2019-04-04 23:47] yonixw commented on #140
@GambitKZ little late bu had same problem you need to right-click the dlls in the plugin directory and in the bottom check "Unblock" and click OK. The windows defender blocks downloaded dlls from running... very annoying but hopefully helped you with some viruses ...

[2019-04-11 13:13] ASH1998 opened #148 "This is a "Dead application""
This is a message to @NguyenDanPhuong and users, this app now is a time waste.
Don't bother correcting it or even trying to fix any issues. Fixing one part makes some other part go wrong. The development was not done in a proper way.
Better use some other project or app to download.

[2019-05-03 11:41] Anvesh2013 commented on #148
did you find any other apps that work?

[2019-06-30 23:49] anhxtaiii commented on #148
it was working fine when it worked issa shame

[2019-07-01 02:42] NguyenDanPhuong commented on #148
The sites changed. Previously they store images in HTML, now they encrypted and store in JavaScript. To make MangaRipper works again require a big rewrite to execute JavaScript (so we can decrypt and retrieve images URL). It takes time.

Now I have some free time, I will start to rewrite this app from this week.

[2019-07-01 16:48] GambitKZ commented on #148
Base on behavior of similar apps - it may be better to return to "PhantomJS".

[2019-07-09 16:16] NguyenDanPhuong commented on #148
@GambitKZ
I've worked on this branch https://github.com/NguyenDanPhuong/MangaRipper/tree/feature/headless-chrome-plugin

Since PhantomJS no longer maintained. I use the Chrome browser in headless mode. Work great so far. MangaFox & MangaHere work again.

[2019-07-10 00:42] virtualbjorn commented on #148
How about we use ElectronJS?

On Wed, 10 Jul 2019, 00:16 NguyenDanPhuong, <notifications@github.com>
wrote:

[2019-07-11 03:27] NguyenDanPhuong commented on #148
@virtualbjorn if we use ElectronJS, we have to write a new application in JavaScript.

I've released a new version to issues with MangaFox & MangaHere.

[2019-07-11 03:27] #148 closed

[2019-07-11 03:27] #147 closed

[2019-07-11 03:28] NguyenDanPhuong commented on #144
I think we fix this in the latest version

[2019-07-11 03:28] #144 closed

[2019-07-11 03:28] NguyenDanPhuong commented on #143
We've fixed this in latest version

[2019-07-11 03:28] #143 closed

[2019-07-11 03:28] #140 closed

[2019-07-11 03:44] #134 closed

[2019-07-11 08:29] #132 closed

[2019-07-16 03:47] #98 closed

[2019-07-16 03:48] #68 closed

[2019-07-16 15:22] Ever4engel commented on #148
Hello
this is a dead application ?
You could contribute in this [Hakuneko](https://github.com/manga-download/hakuneko/tree/master) project ^^

[2019-10-12 09:05] SUSTHESURFER commented on #128
Here is the [link](https://www.susthesurfer.com/best-manga-websites-read-manga-books-online/) for the best manga websites to enjoy the content free.

[2020-01-13 02:02] BlueInfern0 opened #152 "Adding Plug-Ins"
Some manga that I'm trying to download are not on Mangafox, mangahere, mangareader, or mangastream but I am reading them on kissmanga. Kissmanga is listed as a supported site however I downloaded the most recent version of MangaRipper and it does not list it with the other sites. Is there anyway to add the kissmanga plugin folder from the development build into the main 1.0.392 build?
I used this

[2020-08-18 12:15] totocino opened #153 "Entire chapters not downloading cor"
When I try to download any chapters I get get the loading.gif and one page. The most pages I've managed to get was 10 out of 14.

I've tried these and still the same issue:
Tried websites with multiple different series and chapters but still the same issue
Unblocked the zip file and allowed firewall exception
Unzipped with 7-zip
Unzipping in different drivers and locations
Downloading one chapter

[2020-12-08 13:31] shizukura06 opened #156 "MangaRipper looking for Chrome before opening [error]"
an error pops up saying it is looking for chrome and it stops going to the main UI.
![Screenshot (12)](https://user-images.githubusercontent.com/32787486/101489995-acb29c00-399c-11eb-82ed-2b728b0f9187.png)

[2021-04-21 23:14] sephaw commented on #156
I'm having this issue as well. Any news on this? Is it possible to use app without chrome dependency? specifically its looking for it in the (x86) directory. Google doesn't seem to let you pick whether you want 32 or 64 bit anymore, so I'm not sure how to resolve this issue from my end, as the MangaRipper program can't find the 64 bit version that's installed.

[2021-05-02 01:11] ghost4712 commented on #156
I tried copy and paste google file from Program Files to Program Files(x86) and seems like to work just fine. You could at least try this. Don't know if it's absolutely works though

[2021-06-02 06:56] shanmukhasix commented on #153
Same Problem.